<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet the Teams at TAMUhack</title>
    <link href="./../static/th-2021/tailwind.min.css" rel="stylesheet">

    <link href="./../static/th-2022/favicon.png" rel="icon" type="image/x-icon" />
</head>
<body>
    

    <!-- PRIZES -->
    <!--
    <div id="Prizes" class="h-full md:mt-4" style="padding-top:6em;">
        <p class="flex pb-4 px-8 md:px-32 baby-pink-txt text-4xl font-extrabold raleway-font">Prizes</p>
        <div class="md:mt-8 mx-4 lg:flex md:px-12 lg:px-32 place-content-center z-40">
          <div class="leftcol lg:w-1/2">
            <div v-for="(prize, i) in prizes" v-if="(window.width >= 1024 && i % 2 == 0) || (window.width < 1024)" class="lg:mr-8 mt-8 py-3 px-3 border-4 navy-border bg-offwhite rounded-md opacity-100">
              <div class="border-2 navy-border rounded-md px-8 py-4">
                <p class="text-xl md:text-2xl font-extrabold raleway-font navy">{{prize.name}}</p>
                <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description}}</p>
                <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description2}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize1}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize2}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize3}}</p>
              </div>
            </div>
          </div>
          <div class="hidden lg:block lg:w-1/2">
            <div v-for="(prize, i) in prizes" v-if="i % 2 == 1" class="lg:ml-8 mt-8 py-3 px-3 border-4 navy-border bg-offwhite rounded-md opacity-100">
              <div class="border-2 navy-border rounded-md px-8 py-4">
                <p class="text-xl md:text-2xl font-extrabold raleway-font navy">{{prize.name}}</p>
                <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description}}</p>
                <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description2}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize1}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize2}}</p>
                <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize3}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      -->
</body>
</html>