.smaller-container {
  max-width: 1400px;
  margin: 0px auto;
}
#top-nav {
  padding: 10px;
}
#top-nav .nav-right {
  float: right;
}
#top-nav .nav-right a {
  display: inline-block;
  padding: 5px 0px 5px 0px;
  margin: 6px 24px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
#top-nav .nav-right a:hover {
  border-bottom: 7px solid #F27B93;
}
#top-nav > div {
  display: inline-block;
}
.fancy-squiggle {
  width: 100%;
  position: absolute;
  top: calc(100.2vh - (100vw * .126736));
}
.word-wrapper-v1 {
  font-size: 26px;
  line-height: 52px;
  margin-top: 50px;
  margin-left: 20px;
  text-align: left;
}
.sub-header {
  text-align: left;
  margin-bottom: 20px;
  font-size: 56px;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #212121;
}
.text-hero {
  max-width: 750px;
  margin: 0px auto;
  padding-bottom: 50px;
}
.text-hero > h2 {
  text-align: center;
}
.text-hero > div {
  text-align: center;
}
.text-hero > center > .hero-button {
  margin-top: 75px;
  color: white;
  font-size: 20px;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  padding: 1rem 2.25rem;
  border-radius: 8px;
}
.custom-triangle-thing {
  margin: -2px auto;
}
* {
  box-sizing: border-box;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #212121;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
/* Container around content */
.container {
  padding: 40px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Place the container to the left */
.left {
  left: 0;
}
/* Place the container to the right */
.right {
  left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #ccc;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #ccc;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -11px;
}
/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 0 20px #aaa;
  position: relative;
  border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #ccc;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ccc transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
body,
html {
  margin: 0px;
  padding: 0px;
}
.one-screen-size-wrapper {
  min-height: 95vh;
}
.three-fourth-screen-size-wrapper {
  min-height: 75vh;
}

/*#swoosh{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 2;
}

#plane{
	position: absolute;
	width: 7%;
	animation: translateplane 5s linear infinite;
}

#blimp{
	position: absolute;
	left: 73.7%;
	top: 51.71%;
	width: 3%;
	animation: translateblimp 20s linear infinite;
}

#acadbuild{
	position: absolute;
	bottom: 0;
	width: 60%;
}

#sun{
	position: absolute;
	height: 10%;
	right: 25.6%;
	top: 20%;
}

#tamuhacklogo{
		position: relative;
		align-self: center;
		margin-bottom: 15%;
  	/* bring your own prefixes */
  	height: 7%;
}

#tower{
	position: absolute;
	height: 68%;
	bottom: 0;
	right: 0;
}

#cloud1{
	position: absolute;
	height: 4%;
	left: 3%;
	top: 43.86%;
	/* animation: translateCloud1 30s linear infinite; */
}

#cloud2{
	position: absolute;
	height: 3%;
	left: 25%;
	top: 15%;
	/* animation: translateCloud2 10s linear infinite; */
}

#cloud3{
	position: absolute;
	height: 4%;
	left: 81%;
	top: 14%;
	/* animation: translateCloud3 10s linear infinite; */
}

#cloud4{
	position: absolute;
	height: 2.4%;
	left: 94%;
	top: 34%;
	/* animation: translateCloud4 10s linear infinite; */
}

#navbar{
	display: flex;
	height: 7%;
	align-items: center;
	border: 0;
}

#navitems{
	display: flex;
	position: absolute;
	flex-direction: row;
	right: 0;
	max-width:
}

#navlogo{
	margin-left: 10%;
}

#help{
	margin-left: 20px;
}

.custom-p-text {
	color: black;
	font-size: 22px;
	font-weight: 400;
}

.light-pink-content {
  padding-top: 25px;
	margin-top: -2px;
	padding-bottom: 25px;
}

.mid-pink-content {
  background-color: #FEF0F3;
}

.mid-pink-content .colcontainer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

#three-cols {
  min-width: 1000px;
  width: 80vw;
}

#three-cols div {
  text-align: center;
  margin-bottom: 40px;
}

#three-cols div img{
  height: 80px;
  width: auto;
  margin-bottom: 17px;
}

#three-cols div p a{
  color: white;
  font-size: 17px;
  border-radius: 8px;
  font-weight: 600;
  background: #639ACB;
}
