body,
html {
  font-family: 'Questrial', sans-serif;
  margin: 0px;
  padding: 0px;
}
#top-nav-bar {
  padding-top: 16px;
  padding-bottom: 16px;
}
#top-nav-bar .navbar-brand {
  margin-top: -16px;
}
#top-nav-bar div ul li {
  padding: 0px 10px;
}
#top-nav-bar div a {
  border-bottom: 7px solid white;
  color: black!important;
}
#top-nav-bar div .main-nav-ui li > a {
  text-transform: uppercase;
  color: black!important;
}
#top-nav-bar div .main-nav-ui li > a:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 -1px 0 0 #F27B93 inset, 0 -6px 0 0 #F27B93 inset;
}
.custom-responsive-backdrop-header {
  position: relative;
  left: calc(50% - 160px);
  top: 20vh;
}
.custom-responsive-backdrop {
  position: absolute;
  left: 50%;
  width: 100vw;
  min-width: 840px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.asds45f {
  top: calc(100vh - 63px - (100vw * .45833333333));
  position: relative;
  height: calc(100vw * .45833333333);
  overflow: hidden;
}
@media all and (max-width: 840px) {
  .asds45f {
    top: calc(100vh - 63px -  385px);
    height: 385px;
  }
}
.fancy-squiggle {
  width: 100%;
  position: absolute;
  top: calc(100vh - (100vw * .126736) + 63px + 16px);
}
.main-content .light-pink-content {
  padding-top: 25px;
  margin-top: -2px;
  padding-bottom: 25px;
}
.main-content .mid-pink-content {
  background-color: #FEF0F3;
}
.main-content .mid-pink-content .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-content .end-pink-content {
  background-color: #FFEAEE;
}
.main-content .end-pink-content .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.custom-p-text {
  color: black;
  font-size: 18px;
  font-weight: 400;
  font-weight: 300;
  margin-bottom: 2rem!important;
}
#three-cols div {
  text-align: center;
  margin-bottom: 40px;
}
#three-cols div img {
  height: 80px;
  width: auto;
  margin-bottom: 17px;
}
#three-cols div p a {
  color: white;
  font-size: 17px;
  border-radius: 4px;
  padding: .5rem 1rem;
  font-weight: 600;
  background: #639ACB;
}
.navbar {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.btn.btn-primary {
  border: none;
}
.col-lg-4 {
  padding: 40px 25px 20px 25px;
}
.col-lg-4 > img {
  opacity: 0.8;
  margin-bottom: 28px!important;
}
.col-lg-4 > h1 {
  margin-bottom: 1.5rem !important;
}
h1 {
  font-weight: 600!important;
}
.btn.btn-outline-secondary {
  padding: 8px 15px;
}
input.form-control {
  padding: 22px 18px;
}
.card-body {
  padding-top: calc(1.25rem - 5px);
}
.card-title {
  margin-bottom: 3px!important;
}
.card-text {
  margin-bottom: 10px!important;
  font-size: 14px!important;
  color: #999999 !important;
}
h5 a i {
  margin-bottom: 12px!important;
  font-size: 17px!important;
  color: #999999 !important;
  opacity: 0.8;
}
h5 a i:hover {
  opacity: 1;
}
#bottom-nav-bar {
  margin-top: 60px;
}
#bottom-nav-bar > a {
  padding-top: 0px!important;
}
#bottom-nav-bar img {
  margin-top: 0px!important;
}
#bottom-nav-bar div ul li {
  padding: 0px 10px;
}
#bottom-nav-bar div a {
  color: #999999 !important;
}
#bottom-nav-bar div .main-nav-ui li > a {
  text-transform: uppercase;
  color: #999999 !important;
}
#bottom-nav-bar div .main-nav-ui li > a:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 -1px 0 0 #232323 inset, 0 -2px 0 0 #232323 inset;
  color: #232323 !important;
}
.tamu-button {
  background-color: #FF7C93 !important;
  border-radius: 4px!important;
}
.tamu-button:hover {
  background-color: #D47082 !important;
}
.hh-button {
  border-radius: 4px!important;
  background-color: #3E678C !important;
}
.hh-button:hover {
  background-color: #2E4D68 !important;
}
.special-image {
  vertical-align: middle;
  height: 100%!important;
}
.img-container2 {
  height: 100%;
}
#img-grid > div {
  padding-left: 8px;
  padding-right: 8px;
}
#img-grid img {
  border-radius: 2px!important;
}
#aaaaa h1 {
  text-align: center;
  font-weight: 300;
  color: #777;
}
#aaaaa h1 span {
  font-weight: 600;
}
#aaaaa .container {
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
#aaaaa .container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  margin-top: 90px;
  height: calc(100% - 180px);
  background: black;
  z-index: -1;
}
#aaaaa .timeline-block {
  width: -webkit-calc(58%);
  width: -moz-calc(58%);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
#aaaaa .timeline-block-right {
  float: right;
}
#aaaaa .timeline-block-left {
  float: left;
  direction: rtl;
}
#aaaaa .marker {
  max-width: 60px!important;
  max-height: 60px!important;
  min-width: 60px!important;
  min-height: 60px!important;
  border-radius: 50%;
  background: black;
  margin: auto 0px;
  margin-left: -21px;
  z-index: 9999;
}
#aaaaa .marker-2 {
  max-width: 60px!important;
  max-height: 60px!important;
  min-width: 60px!important;
  min-height: 60px!important;
  border-radius: 50%;
  background: black;
  margin: auto 0px;
  margin-right: -21px;
  z-index: 9999;
}
#aaaaa .arrow-right {
  width: 0;
  height: 0;
  margin: auto 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-color: transparent transparent transparent white;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
  margin-right: 7px;
  margin-left: -2px;
}
#aaaaa .arrow-left {
  width: 0;
  height: 0;
  margin: auto 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-color: transparent white transparent transparent;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
  margin-left: 7px;
  margin-right: -2px;
}
#aaaaa .timeline-content {
  width: 95%;
  padding: 30px;
  border: .0px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
#aaaaa .timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}
#aaaaa .timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}
#aaaaa-2 h1 {
  text-align: center;
  font-weight: 300;
  color: #777;
}
#aaaaa-2 h1 span {
  font-weight: 600;
}
#aaaaa-2 .container {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
#aaaaa-2 .container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 31px;
  margin-left: -9px;
  width: 18px;
  margin-top: 100px;
  height: calc(100% - 200px);
  background: black;
  z-index: 1;
}
#aaaaa-2 .timeline-block {
  width: -webkit-calc(88%);
  width: -moz-calc(88%);
  width: calc(100% - 12px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
  margin-top: 25px;
}
#aaaaa-2 .timeline-block-right {
  float: right;
}
#aaaaa-2 .marker {
  max-width: 60px!important;
  max-height: 60px!important;
  min-width: 60px!important;
  min-height: 60px!important;
  border-radius: 50%!important;
  border: 2px solid black;
  background: black;
  margin: auto 0px;
  margin-left: -21px !important;
  z-index: 9999;
}
#aaaaa-2 .marker-2 {
  max-width: 60px!important;
  max-height: 60px!important;
  min-width: 60px!important;
  min-height: 60px!important;
  border-radius: 50%;
  border: 2px solid black;
  background: black;
  margin: auto 0px;
  margin-right: -21px;
  z-index: 9999;
}
#aaaaa-2 .arrow-right {
  width: 0;
  height: 0;
  margin: auto 0px;
  border-top: 15px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-color: transparent transparent transparent white;
  filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.2));
  margin-right: 7px;
  margin-left: -3px;
}
#aaaaa-2 .arrow-left {
  width: 0;
  height: 0;
  margin: auto 0px;
  border-top: 15px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  border-color: transparent white transparent transparent;
  filter: drop-shadow(-5px 0px 0px rgba(0, 0, 0, 0.2));
  margin-left: 7px;
  margin-right: -6px;
}
#aaaaa-2 .timeline-content {
  width: 95%;
  padding: 11px;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
#aaaaa-2 .timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}
#aaaaa-2 .timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

#plane {
  position: absolute;
  width: 7%;
  animation: translateplane 5s linear infinite;
  z-index: -1;
}
#sun {
  position: absolute;
  height: 10%;
  right: 25.6%;
  top: 20%;
  animation: rotateSun 4s linear infinite;
}

@keyframes translateplane {
  0% {
    left: 25%;
    bottom: -10%;
  }

  25% {
    left: 37.5%;
    bottom: 20%;
    transform: scale(0.75);
  }

  50% {
    left: 50%;
    bottom: 50%;
    transform: scale(0.5);
  }

  75% {
    left: 62.5%;
    bottom: 80%;
    transform: scale(0.25);
  }

  100% {
    left: 75%;
    bottom: 110%;
    transform: scale(0);
  }
}

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nice-text > a {
 text-transform: uppercase;
 color: #999999 !important;
}
.nice-text > a:hover {
 transition: all 0.3s ease-out;
 box-shadow: 0 -1px 0 0 #232323 inset, 0 -2px 0 0 #232323 inset;
 color: #232323 !important;
}
.nav a > span {
 text-transform: uppercase;
 color: #999999 !important;
 padding: 5px;
}
.nav a > span:hover {
 transition: all 0.3s ease-out;
 box-shadow: 0 -1px 0 0 #232323 inset, 0 -2px 0 0 #232323 inset;
 color: #232323 !important;
}

#bottom-nav-bar > a {
 padding-top: 0px!important;
}
#bottom-nav-bar img {
 margin-top: 0px!important;
}
#bottom-nav-bar div ul li {
 padding: 0px 10px;
}
#bottom-nav-bar div a {
 color: #999999 !important;
}
#bottom-nav-bar div .main-nav-ui li > a {
 padding: 8px 4px!important;
 margin: 0px 4px!important;
 text-transform: uppercase;
 color: #999999 !important;
}
#bottom-nav-bar div .main-nav-ui li > a:hover {
 transition: all 0.3s ease-out;
 box-shadow: 0 -1px 0 0 #232323 inset, 0 -2px 0 0 #232323 inset;
 color: #232323 !important;
}
