* {
    /* padding: 0px!important; */
    margin: 0px;
    font-family: "Questrial", "sans-serif";
    font-weight: 400!important;
}

/****** NAV ******/

#th-header-link:hover {
    text-decoration: none;
}

header {
    margin-top: 16px !important;
    margin-bottom: 14vh !important;
}

.th-logo {
    height: 30px;
    width: 30px;
}

.tamuhack-logo {
    margin-top: 6px!important;
    min-width: 90px;
    width: 124px;
    height: 23px;
}

/****** TYPOGRAPHY ******/

h1 {
    font-size: 30px;
}

h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    text-align: center;
}

/****** LEFT CONTAINER ******/

.hh-title {
    text-transform: uppercase;
    font-family: Questrial;
    font-size: 3.5vw;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #354965;
}

.hh-subtitle {
    color: #354965;
}

/****** RIGHT CONTAINER ******/

.my-container {
    margin: 0 0 0 15vw;
    max-width: 55%;
}

#rect2 {
    display: none;
    width: 100%;
}

.hh-logo {
    max-width: 280px;
    margin-bottom: 40px;
}

.content-txt {
    margin-bottom: 40px; 
    color: white; 
    position:relative; 
    z-index: 10; 
    margin-top: 8%; 
    line-height: 44px; 
    font-family: Questrial, sans-serif;
}

#rect {
    position: absolute; 
    right: 0; 
    top: -240px; 
    z-index: -10;
    width: 100%; 
    height: 740px;
}

.apply-btn {
    background-color: #69A2CC; 
    color: white; 
    border-radius: 5px!important; 
    padding: 20px 30px; 
    font-size: 22px; 
    font-weight: 600;
    margin-top: 20px;
}

.apply-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #346c94;
    transition: 0.3s;
}

#foot-container {
    padding-top: 250px;
}

#footer-bg {
    background-image:url(/static/assets/hh-assets/bottom-rectangle.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

/****** FORM ******/
.btn {
    background-color: #69A2CC; 
    border-color: #69A2CC; 
    color: white; 
    font-weight: bolder!important; 
    border-radius: 0px 5px 5px 0px; 
    padding: 0px 20px 0px 20px; 
    font-size: 18px; 
    width: 100%;
}
.btn:hover {
    cursor: pointer;
    background-color: #2F84C3;
    border-color: #2F84C3;
    transition: 0.3s;
}
.form-control {
    font-size: 18px; 
    border-radius: 5px 0 0 5px; 
    max-width: 300px;
    width: 60%;
}

.input-group {
    padding: 0;
    margin-bottom: 20px;
}


/***** SECTIONS *****/
h4 {
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold!important;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;

    color: #212121;
}

p {
    font-family: "Questrial", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;

    color: #000000;
}

.section {
    overflow: hidden;
    margin: 20px 10vw 60px 10vw;
}

.section-left {
    width: 50%;
    padding-right: 5px;
    float: left;
}

.section-right {
    width: 50%;
    padding-left: 5px;
    float: right;
}

.section-text-left {
    width: 50%;
    padding-top: 40px;
    padding-right: 10%;
    float: left;
}

.section-text-right {
    width: 50%;
    padding-top: 40px;
    padding-left: 10%;
    float: right;
}

.section-graphic {
    max-width: 100%;
}

/*** FAQ ***/
#first-section {
    margin-top: 200px;
}

#faq-con {
    margin: 0px;
    max-width: 100%!important;
}

.col-lg-6 {
  margin: 0px;
  padding: 10px;
}

.faq-card {
  background-color: #354965;
  border-radius: 15px;
  padding: 5px 30px 10px 30px;
}

.faq-ques {
  font-family: "Roboto", "san-serif";
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
  color: rgb(255, 255, 255);
}

.faq-ans {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.9);
}

/** bottom footer **/ 
#bottom-nav-bar {
  margin-top: 60px;
}
#bottom-nav-bar > a {
  padding-top: 0px!important;
}
#bottom-nav-bar img {
  margin-top: 0px!important;
}
#bottom-nav-bar div ul li {
  padding: 0px 10px;
}

.nice-text > a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8) !important;
   }
   .nice-text > a:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1) inset, 0 -2px 0 0 rgba(255, 255, 255, 1) inset;
    color: rgba(255, 255, 255, 1) !important;
   }
.nav a > span {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8) !important;
    padding: 5px;
   }
   .nav a > span:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1) inset, 0 -2px 0 0 rgba(255, 255, 255, 1) inset;
    color: rgba(255, 255, 255, 1) !important;
   }

#bottom-nav-bar div a {
  color: rgba(255, 255, 255, 0.8) !important;
}
#bottom-nav-bar div .main-nav-ui li > a {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8) !important;
}
#bottom-nav-bar div .main-nav-ui li > a:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1) inset, 0 -2px 0 0 rgba(255, 255, 255, 1) inset;
  color: rgba(255, 255, 255, 1) !important;
}
#top-nav-bar .navbar-brand {
  margin-top: -16px;
  margin-left: 30px;
}

.navbar {
  background-color: none; 
  margin: 0!important; 
  padding-left: 10vw!important; 
  padding-right: 10vw!important;
}

.navbar-toggler {
  border-color: transparent!important;
}

#top-bar-icons {
    margin-left: 10vw; max-width: 79vw; padding-left: 30px;
}


/****** RESPONSIVENESS ******/

@media (max-width: 1101px) {
    h1 {
        font-size: 24px; /* Looking for best font ratio */
        line-height: 30px !important;
    }
    #bottom-nav-bar div a {
        color: rgba(255, 255, 255, 0.8) !important;
      }
      #bottom-nav-bar div .main-nav-ui li > a {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8) !important;
      }
    .section-left {
        width: 100%;
        max-width: 500px;
        padding-right: 0px;
        padding-top: 10px;
        float: none;
        margin: auto;
    }
    
    .section-right {
        width: 100%;
        max-width: 500px;
        padding-left: 0px;
        padding-top: 10px;
        float: none;
        margin: auto;
    }
    
    .section-text-left {
        width: 100%;
        padding-right: 0px;
        float: left;
    }
    
    .section-text-right {
        width: 100%;
        padding-left: 0px;
        float: right;
    }
} 

@media (max-width: 767px) {
    .apply-btn {
        padding: 14px 30px; 
        font-size: 18px; 
        font-weight: 600;
        margin-top: 10px;
    }
    
    .tamuhack-logo {
        display: none;
    }

    #top-bar-icons {
        margin-left: 10px; max-width: 79vw; padding-left: 30px;
    }
    #first-section {
        margin-top: 40px;
    }

    #foot-container {
        padding-top: 40px;
    }

    #footer-bg {
        background-image: none;
        background-color: #354965;
    }

    .section {
        overflow: hidden;
        margin: 20px 30px 60px 30px;
    }

    #faq-sec {
        margin: 20px 20px 60px 20px;
    }


    .col-md-10 {
        padding: 0 8vw;
    }

    /****** NAV ******/
    header {
        margin-bottom: 8vh !important;
    }
    /* .th-logo, .tamuhack-logo {
        height: 20px;
    } */

    /****** TYPOGRAPHY ******/
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }

/****** LEFT CONTAINER ******/
    .hhlogo-column {
        padding-left: 15vw!important;
        padding-right: 15vw;
        margin-top: 0px!important;
    }
    .hh-logo {
        max-width: 190px;
        margin-bottom: 40px;
    }
    .hh-title {
        font-size: 42px;
        margin-bottom: 15px;
    }
    .hh-subtitle {
        font-size: 20px;
    }
/****** RIGHT CONTAINER ******/
    .my-container {
        margin: 0 !important;
        max-width: 100%;
        padding-bottom: 10px;
        background-color: #354965;
    }
    .my-wrapper {
        margin: 0 10vw;
    }
    .content-txt {
        padding-top: 0;
        margin: -1px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    #rect {
        display: none;
    }
    #rect2 {
        display: block !important;
    }

/****** FORM ******/
    .form-control, .btn {
        font-size: 16px !important;
    }
}

/****** Fix scaling ******/
@media (-webkit-min-device-pixel-ratio: 2.5) { 
    h1 {
        font-size: 24px;
        line-height: 32px !important;
    }
    h2 {
        font-size: 18px;
    }
    /****** FORM ******/
    .form-control, .btn {
        font-size: 15px !important;
    }
    .form-control {
        max-width: 240px !important;
    }

    .th-logo, .tamuhack-logo {
        height: 20px;
    }
    #rect {
        height: 590px !important;
    }
    .hh-logo {
        max-width: 200px !important;
    }
    .hh-subtitle {
        font-size: 18px !important;
    }
    #rect {
        height: 600px;
    }
}


