.card{
  display: flex; min-width: 60%; min-height: 33%; width: 60%; height: auto; border: 0.5px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}

.toprow{
display: flex; flex-direction: row; height: 40%; width: auto; padding-top: 20px; margin-right: 20px; margin-left: 20px;
padding-bottom: 20px;
}

.largedate{
  display: flex; flex-direction: column; min-width: 20%; width: 20%; height: auto; align-items: center;
}

.smallinfo{
display: flex; flex-direction: column; min-width: 80%; width: 80%; height: auto; margin-left: 10px;
}

.workshoptitle{
font-weight: 600; font-size: 22px; margin-bottom: 5px;
}

.location{
color: rgba(112, 112, 112, 0.9);
}

.bottomrow{
display: flex; flex-direction: row; height: auto; width: auto; padding-top: 40px; justify-content: center; margin-right: 20px; margin-left: 20px;
}

.rsvp{
  display: flex; flex-direction: column; width: 20%; height: 100%; align-items: center; margin-top: 5px;
}

.workshopdesc{
  display: flex; flex-direction: column; width: 80%; height: 100%; margin-left: 10px;
}

.workshopdiv{
  display: flex; flex-direction: column; height: auto; background-color: white; align-items: center; padding-top: 60px;
  width: calc(100% * 7/12);
}

.titlediv{
  position: relative; height: 100%; background-color: #FFF7F8; padding-left: 30px;
  width: calc(100% * 5/12);
}

.overallcontainer{
  display: flex; flex-direction: row; width: 100vw; height: 100vh; background-color: black;
}

@media only screen and (max-width: 600px) {
  .overallcontainer{
    flex-direction: column;
  }
}