doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title #{title} - TAMUhack    
        meta(name='description', content='')
        meta(name='theme-color' content='#4DA5F4')
    
    body
        include partials/header

        .container
            block content

