<!DOCTYPE html>
<html>

  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

    <link href="./../static/th-2021/tailwind.min.css" rel="stylesheet">
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="./../static/th-2021/app.css">
    <link rel="stylesheet" href="./../static/th-2022/app.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <meta name="description"
          content="[January 29th, 2022] - At TAMUhack, teams spend the weekend working on innovative software and hardware solutions to real-world problems in a community full of mentorship.">
    <meta name="keywords"
          content="[January 29th, 2022] - At TAMUhack, teams spend the weekend working on innovative software and hardware solutions to real-world problems in a community full of mentorship.">
    <title>TAMUhack 2022</title>

    <!-- 2021 Hackathon Season Member Event Badge style as recommended by MLH (Removed because MLH did us dirty)
      <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position: absolute;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/2021/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2021-season&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2021/mlh-trust-badge-2021-black.svg" alt="Major League Hacking 2021 Hackathon Season" style="width:100%"></a>
    -->

    <link href="./../static/th-2022/favicon.png" rel="icon" type="image/x-icon" />

    <!-- Add any styles you want here... Frick CSS files -->
    <!-- Ok on second thought, we probably should have used CSS files -->
    <style>
html {
  background-color: #FAFAFA;
}

    .bg-offwhite {
      background-color: #FAFAFA;
    }

    .raleway-font {
      font-family: 'Raleway', sans-serif;
    }

    .futura-font {
      font-family: 'Futura';
    }

    @font-face {
      font-family: 'Futura';
      src: url(./../static/fonts/Futura/Futura-Bold/futura-bold.ttf);
      font-weight: 900;
    }

    @font-face {
      font-family: 'Futura';
      src: url(./../static/fonts/Futura/Futura-Light/futura-light.ttf);
      font-weight: light;
    }

    @font-face {
      font-family: 'Avenir Next';
      src: url(./../static/fonts/AvenirNext/AvenirNext-Bold/AvenirNext-Bold-01.ttf);
      font-weight: regular;
    }

    .opensans-font {
      font-family: 'Open Sans', sans-serif;
    }

    .navy {
      color: #345562;
    }

    .navy-button {
      background-color: #345562;
    }

    .navy-border {
      border-color: #345562;
    }

    .kinda-black {
      color: #232323;
    }

    .baby-blue {
      background-color: #A4DCFF;
    }

    .baby-pink {
      background-color: #FFA4C6;
      color: #B4B4B4;
    }

    .baby-pink-text {
      color: #F3859B;
    }

    .baby-blue-text {
      color: #7FC0FA;
    }

    .baby-pink-txt {
      color: #FFA4C6;
    }

    .custom-button {
      font-family: "Avenir Next";
      color: white;
      font-size: 18px;
      font-weight: 700;
      border-radius: 5px;
    }

    .custom-button-grayed {
      font-family: "Avenir Next";
      color:#B4B4B4;
      font-size: 18px;
      font-weight: 700;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 5px #B4B4B4;
    }

    .custom-button-grayed:hover {
      font-family: "Avenir Next";
      color:#B4B4B4;
      font-size: 18px;
      font-weight: 700;
      border-radius: 5px;
    }

    .custom-button:hover {
      color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 5px #375764;
    }


    @media only screen and (min-width: 901px) {
      .faq-cont {
        padding: 150px;
        padding-top: 0px;
        padding-bottom: 75px;
      }
    }

    @media only screen and (max-width: 900px) {
      .faq-cont {
        padding: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    @media only screen and (max-width: 600px) {
      .faq-cont {
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    @media only screen and (max-width: 780px) {
      .schedule {
        position: relative;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border: 4px solid #345562;
        border-radius: 2rem;
      }
    }

    @media only screen and (min-width: 781px) {
      .schedule {
        position: relative;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 4rem;
        margin-right: 4rem;
        border: 4px solid #345562;
        border-radius: 2rem;
      }
    }

    @media (min-width: 768px) {
      .leafy-bg {
        background-image: url("./../static/th-2022/Leaves.png");
        min-width: 500px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 0;
      }
    }

    @media (max-width: 640px) {
      .custom-button {
        margin-left: auto;
        margin-right: auto;
      }

      .custom-button-grayed {
        margin-left: auto;
        margin-right: auto;
      }

      .no-pic {
        display: none;
      }

      .leafy-bg {
        background-image: url("./../static/th-2022/Leaves.png");
        min-width: 100px;

        background-size: 100% 15%;
        background-repeat: repeat-y;
      }

      .title-txt {
        margin-left: auto;
        margin-right: auto;
        content: center;

      }

      .par-txt {
        margin-left: auto;
        margin-right: auto;
        content: center;
      }

      .custom-grid {
        grid: grid-cols-1;
      }

      .custom-margin {
        margin-top: 5;
      }
    }
    </style>
  </head>

  <body class="bg-offwhite">
    <div id="app" v-cloak>

      <!-- TODO: Make the bottom border animate in on scroll -->

      <!-- NAVBAR -->
      <div
        class="fixed hidden md:flex items-center justify-between px-8 md:px-16 py-4 w-screen bg-offwhite z-50">
        <div>
          <a href="https://tamuhack.com" target="_blank" rel="noopener noreferrer"
                                                         class="hidden md:flex text-4xl font-black futura-font navy">tamuhack</a>
          <a href="https://tamuhack.com" target="_blank" rel="noopener noreferrer"
                                                         class="md:hidden text-3xl font-black futura-font navy">th</a>
        </div>
        <div class="hidden md:flex">
          <a v-for="link in links" :href="'#' + link" class="text-xl font-regular md:ml-12 lg:ml-16 futura-font navy">
            {{link}}</a>
        </div>

        <a class="md:hidden text-xl font-regular futura-font navy"></a>
      </div>

      <div class="block fixed my-0 bg-offwhite items-center w-screen pr-8 z-50">
        <div class="md:hidden pb-2 my-0 bg-offwhite ">
          <template class="bg-offwhite">
            <b-navbar class="bg-offwhite pt-2">
              <template slot="brand" class="bg-offwhite pt-2">
                <b-navbar-item tag="router-link">
                  <div class="px-8">
                    <a href="https://tamuhack.com" target="_blank" rel="noopener noreferrer"
                                                                   class="hidden md:flex text-4xl font-black futura-font navy">tamuhack</a>
                    <a target="_blank" rel="noopener noreferrer"
                                       class="md:hidden text-3xl font-black futura-font navy">th</a>
                  </div>
                </b-navbar-item>
              </template>

              <template slot="start" class="bg-offwhite">
                <b-navbar-item class="bg-offwhite" :href="'#' + link" v-for="link in links">
                  <span class="bg-offwhite pl-8">
                    {{ link }}
                  </span>
                </b-navbar-item>
              </template>
            </b-navbar>
          </template>
        </div>
      </div>



      <!-- LANDING -->
      <div id="landing" class="h-full ">
        <div class="flex justify-center pt-32 md:pt-16">
          <img class="p-4 w-5/5 max-h-52 sm:max-h-screen md:w-4/5 lg:w-3/5" src="./../static/th-2022/LandingImage2.png">
        </div>
        <div class="mt-2">
          <p class="flex justify-center text-xl sm:text-2xl font-bold raleway-font navy">January 29 - 30, 2022</p>
          <p class="flex justify-center my-2 text-xl sm:text-2xl font-bold raleway-font navy">Memorial Student Center</p>
          <div class="flex flex-col sm:flex-row justify-center mt-8">
            <a href="https://register.tamuhack.com/" target="_blank" rel="noopener noreferrer"
                                                                     class="px-8 py-4 w-4/5 sm:w-60 min-w-min mt-4 sm:mr-5 sm:ml-5 text-center baby-blue text-white font-bold custom-button">APPLY</a>
            <a href="https://discord.gg/k7U2MMHF" target="_blank" rel="noopener noreferrer"
                                                                          class="px-8 py-4 w-4/5 sm:w-60 min-w-min mt-4 sm:mr-5 text-center baby-pink text-white font-bold custom-button">DISCORD</a>
            <a href="https://tamuhack2022.devpost.com/" target="_blank" rel="noopener noreferrer"
                                                                     class="px-8 py-4 w-4/5 sm:w-60 min-w-min mt-4 sm:mr-5 text-center navy-button text-white font-bold custom-button">DEVPOST</a>                                                              
          </div>
        </div>
      </div>

      <!-- TWITCH STREAM -->
      <div id="Stream" class="hidden md:flex mt-10 " style="padding-top: 6em">
        <div class="flex w-full justify-center">
          <div class="flex justify-center px-8 md:px-32">
            <iframe src="https://player.twitch.tv/?channel=tamuhack&parent=tamuhack.com" frameborder="0" allowfullscreen="true" scrolling="no" height="398" width="640"></iframe>
            <!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/86YLFOog4GM" title="TAMUhack Stream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>

      <!-- ABOUT -->
      <div id="Info" class="mt-20 " style="padding-top: 6em">
        <div class="flex w-full justify-between">
          <div class="flex justify-between px-8 md:px-32">
            <div class="w-full lg:w-1/2">
              <!--1-->
              <p class="lg:text-left md:text-left font-extrabold text-4xl raleway-font baby-pink-txt">About TAMUhack</p>
              <p class="mt-8 text-l font-semibold opensans-font navy">At TAMUhack, teams spend the weekend working on
              innovative software and hardware solutions to real-world problems in a community full of mentorship.</p>
              <p class="mt-4 text-l font-semibold opensans-font navy">We'll provide you with all the resources and mentors
              you need to work on something cool. You'll have the freedom to create a product, learn new skills or just
              have fun working on a project with friends. We'll also provide all the free food and free swag—just be
              sure to bring plenty of resumes for all of the awesome sponsors and mentors you'll meet! Virtual hackers will only receive swag if they win.</p>
              <p class="mt-4 text-l font-semibold opensans-font navy">Check them out below!</p>
            </div>
            <div class="hidden lg:flex">
              <!--2-->
              <img class="w-4/5" src="./../static/th-2022/AboutFlower1.svg">
            </div>
          </div>
        </div>
      </div>

      <!-- COVID GUIDELINES -->
      <div id="COVID Guidelines" class="mt-20 " style="padding-top: 6em">
        <div class="flex w-full justify-between">
          <div class="flex justify-between px-8 md:px-32">
            <div class="">
              <p class="lg:text-left md:text-left font-extrabold text-4xl raleway-font baby-pink-txt">COVID-19 Guidelines</p>
              <p class="mt-4 text-l font-semibold opensans-font navy">We’re doing everything we can to make TAMUhack as safe as possible for attendees and we need your help to do so. In-person attendees must satisfy one of the following criteria - a negative test* taken on or after January 15th, or proof of vaccination (presented digitally or physically). Failure to satisfy either of these requirements will deny entrance even if an acceptance has been received. Hackers are encouraged to participate virtually if they will be unable to fulfill the preconditions.</p>
              <p class="mt-4 text-l font-semibold opensans-font navy">*Test must be a negative PCR, antibody, or Curative test (available around the Texas A&M campus and other universities) taken on or after January 15th, 2022. At home tests DO NOT count. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SCHEDULE -->
      <!--
      <div id="Schedule" class="relative h-full mt-6 md:mt-20 pb-36" style="padding-top:6em;">
        <p class="flex pb-4 px-8 md:px-32 baby-pink-txt text-4xl font-extrabold raleway-font">Schedule</p>
        <div class="schedule border-4 navy-border rounded-3xl">
          <div class="lg:grid grid-cols-2 gap-12 place-content-center">
            <div class="">
              <p class="lg:mt-8 md:mt-4 mb-8 md:text-left font-bold text-2xl raleway-font baby-blue-text">Saturday</p>
              <div v-for="event in eventsSaturday" class="flex">
                <p style="width:85px" class="lg:my-2 md:text-left font-bold text-lg opensans-font navy whitespace-nowrap">{{event.time}}</p>
                <p class="lg:my-2 md:text-left pl-8 font-semibold text-md opensans-font navy ">{{event.event}}</p>
              </div>
            </div>
            <div class="mt-16 md:mt-0">
              <p class="lg:mt-8 md:mt-4 mb-8 md:text-left font-bold text-2xl raleway-font baby-blue-text">Sunday</p>
              <div v-for="event in eventsSunday" class="flex">
                <p style="width:85px" class="lg:my-2 md:text-left font-bold text-lg opensans-font navy whitespace-nowrap ">{{event.time}}</p>
                <p class="lg:my-2 md:text-left pl-8 font-semibold text-md opensans-font navy ">{{event.event}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden lg:flex justify-end absolute bottom-0 inset-x-0">
          <img class="h-1/3 w-1/3 mr-24" src="./../static/th-2022/leaf.png">
        </div>
      </div>
      -->

      <!-- SCHEDULE -->
      <div id="Schedule" class="relative h-full mt-6 md:mt-20 pb-36" style="padding-top:6em;">
        <p class="px-8 flex pb-4 md:px-32 baby-pink-txt text-4xl font-extrabold raleway-font">Schedule</p>
        <div class="schedule border-4 navy-border rounded-3xl">
          <div class="lg:grid grid-cols-2 gap-12 place-content-center">
            <div class="">
              <p class="lg:mt-8 md:mt-4 mb-8 md:text-left font-bold text-2xl raleway-font baby-blue-text">Saturday</p>
              <div v-for="event in eventsSaturday" class="flex items-center">
                <p style="width:110px" class="my-3 lg:my-2 md:text-left md:my-3 font-bold text-lg opensans-font navy whitespace-nowrap">{{event.time}}</p>
                <div class="hidden lg:flex" >
                  <img v-if="event.type === 'food'" style="width:25px; height:25px" src="./../static/th-2022/food.svg">
                  <img v-else-if="event.type === 'event'" style="width:25px; height:25px" src="./../static/th-2022/minievent.svg">
                  <img v-else-if="event.type === 'workshop'" style="width:25px; height:25px" src="./../static/th-2022/workshop.svg">
                  <img v-else-if="event.type === 'general'" style="width:25px; height:25px" src="./../static/th-2022/event.svg">
                </div>
                <p class="w-full sm:w-1/2 my-3 lg:my-2 md:text-left md:my-3 pl-8 font-medium text-md opensans-font navy ">{{event.event}}</p>
              </div>
            </div>
            <div class="mt-16 md:mt-0">
              <p class="lg:mt-8 md:mt-4 mb-8 md:text-left font-bold text-2xl raleway-font baby-blue-text">Sunday</p>
              <div v-for="event in eventsSunday" class="flex items-center">
                <p style="width:110px" class="my-3 lg:my-2 md:text-left md:my-3 font-bold text-lg opensans-font navy whitespace-nowrap">{{event.time}}</p>
                <div class="hidden lg:flex" >
                  <img v-if="event.type === 'food'" style="width:25px; height:25px" src="./../static/th-2022/food.svg">
                  <img v-else-if="event.type === 'event'" style="width:25px; height:25px" src="./../static/th-2022/minievent.svg">
                  <img v-else-if="event.type === 'workshop'" style="width:25px; height:25px" src="./../static/th-2022/workshop.svg">
                  <img v-else-if="event.type === 'general'" style="width:25px; height:25px" src="./../static/th-2022/event.svg">
                </div>
                <p class="w-full sm:w-1/2 my-3 lg:my-2 md:text-left md:my-3 pl-8 font-medium text-md opensans-font navy ">{{event.event}}</p>
              </div>
            </div>
            <div class="hidden lg:block mr-auto px-8 border-2 justify-center navy-border rounded-lg py-2" >
              <div class="flex justify-center">
                <div style="width:150px" class="flex items-center pr-2">
                  <img src="./../static/th-2022/food.svg" class="m-2" style="width:20px; height:20px">
                  <p class="font-medium text-md opensans-font navy">Food</p>
                </div>
                <div style="width:150px" class="flex items-center pl-2">
                  <img src="./../static/th-2022/minievent.svg" class="m-2" style="width:20px; height:20px">
                  <p class="font-medium text-md opensans-font navy">Mini-event</p>
                </div>
              </div>
              <div class="flex justify-center">
                <div style="width:150px" class="flex items-center pr-2">
                  <img src="./../static/th-2022/workshop.svg" class="m-2" style="width:20px; height:20px">
                  <p class="font-medium text-md opensans-font navy">Workshop</p>
                </div>
                <div style="width:150px" class="flex items-center pl-2">
                  <img src="./../static/th-2022/event.svg" class="m-2" style="width:20px; height:20px">
                  <p class="font-medium text-md opensans-font navy">General</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        <div class="hidden lg:flex justify-end absolute bottom-0 inset-x-0">
          <img class="h-1/3 w-1/3 mr-24" src="./../static/th-2022/leaf.png">
        </div>
      </div>


        <!--Event Information-->
        <div id="EventInfo" class="h-full">
          <div class="lg:flex justify-between">
            <div class="w-full sm:justify-between">
              <div class="lg:flex px-8 md:px-32 justify-between">
                <div class="w-full lg:w-1/2">
                  <!--1-->
                  <p class="mb-10 md:text-left font-extrabold text-4xl raleway-font baby-pink-txt">Event Information</p>
                  <p class="lg:mt-8 md:mt-4 mb-5 md:text-left font-bold text-2xl raleway-font baby-blue-text">Parking</p>
                  <p   class="text-lg font-bold opensans-font navy">Lot 61</p>
                  <a href="https://goo.gl/maps/RfpdUoZrbXrPmMSC6" target="_blank" rel="noopener noreferrer" class="text-lg font-normal underline opensans-font navy">133-155 John Kimbrough Blvd, College Station,
                  TX 77840</a>
                  <p class="text-md font-normal opensans-font navy">*Free in unmarked spaces EXCEPT Saturday, 05:30PM -
                  7:45PM. Entry will be $5.00 during that time.</p>
                  <p class="mt-4 text-lg font-bold opensans-font navy">Lot 74</p>
                  <a href="https://goo.gl/maps/oA6PZityvBmjAgUF7" target="_blank" rel="noopener noreferrer" class="text-lg font-normal underline opensans-font navy">730 Olsen Blvd, College Station, TX 77845</a>
                  <p class="mb-10 text-md font-normal opensans-font navy">*Free in unmarked spaces</p>
                  <p class="lg:mt-8 md:mt-8 sm:mt-4 md:text-left font-bold text-2xl raleway-font baby-blue-text">Venue</p>
                  <p class="mt-5 text-lg font-bold opensans-font navy">Memorial Student Center</p>
                  <a href="https://goo.gl/maps/fL8tLDvoXNU3DAt69" target="_blank" rel="noopener noreferrer" class="text-lg font-normal underline opensans-font navy">275 Joe Routt Blvd, College Station, TX 77843
                  </a>
                  <p class="text-md font-normal opensans-font navy">*Main hacking location will be in the Bethancourt
                  Ballroom (room 2300), quiet hacking in room 2400, and workshops in West Wing</p>
                </div>
                <div class="flex">
                  <img class="w-5/5" src="./../static/th-2022/msc.svg">
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- PRIZES -->
        <div id="Prizes" class="h-full md:mt-4" style="padding-top:6em;">
          <p class="flex pb-4 px-8 md:px-32 baby-pink-txt text-4xl font-extrabold raleway-font">Prizes</p>
          <div class="md:mt-8 mx-4 lg:flex md:px-12 lg:px-32 place-content-center z-40">
            <div class="leftcol lg:w-1/2">
              <div v-for="(prize, i) in prizes" v-if="(window.width >= 1024 && i % 2 == 0) || (window.width < 1024)" class="lg:mr-8 mt-8 py-3 px-3 border-4 navy-border bg-offwhite rounded-md opacity-100">
                <div class="border-2 navy-border rounded-md px-8 py-4">
                  <p class="text-xl md:text-2xl font-extrabold raleway-font navy">{{prize.name}}</p>
                  <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description}}</p>
                  <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description2}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize1}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize2}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize3}}</p>
                </div>
              </div>
              <div class="">
                <img class="mt-12 lg:w-full lg:h-full" src="../static/th-2022/Cat.png">
              </div>
            </div>
            <div class="hidden lg:block lg:w-1/2">
              <div v-for="(prize, i) in prizes" v-if="i % 2 == 1" class="lg:ml-8 mt-8 py-3 px-3 border-4 navy-border bg-offwhite rounded-md opacity-100">
                <div class="border-2 navy-border rounded-md px-8 py-4">
                  <p class="text-xl md:text-2xl font-extrabold raleway-font navy">{{prize.name}}</p>
                  <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description}}</p>
                  <p class="mt-3 text-l md:text-md font-md opensans-font navy">{{prize.description2}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize1}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize2}}</p>
                  <p class="mt-3 text-l md:text-md font-bold opensans-font navy">{{prize.prize3}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- FAQ -->
        <!-- TODO: Stagger the FAQS -->

        <div id="FAQ" class="h-full mt-6 md:mt-0 pb-10 leafy-bg" style="padding-top:6em;">
          <p class="flex pb-4 px-8 md:px-32 baby-pink-txt text-4xl font-extrabold raleway-font">Frequently Asked Questions</p>
          <div class="md:mt-12 mx-4 md:px-12 lg:px-32 lg:grid grid-cols-2 gap-12 place-content-center z-40">
            <div v-for="faq in faqs" class="mt-8 lg:mt-0 py-8 px-8 border navy-border bg-offwhite rounded-2xl opacity-100">
              <p class="text-xl md:text-2xl font-bold raleway-font navy">{{faq.title}}</p>
              <p class="mt-5 text-l md:text-md opensans-font navy">{{faq.desc}}</p>
            </div>
          </div>
        </div>

        <!--
          <div id="Sponsors" class="flex">
          <p class="pb-10 px-8 md:px-32 navy">
          Interested in sponsoring? Reach out to us at <a class="underline"
          href="mailto:sponsor@tamuhack.com">sponsor@tamuhack.com</a>.
          </p>
          </div>
        -->

        <!-- SPONSORS -->
        <div class="bg-offwhite mt-4" id="Sponsors" style="padding-top:6em;">
          <p class="flex px-8 md:px-32 baby-pink-txt text-4xl font-bold raleway-font">Sponsored By</p>
          <div class="faq-cont">
            <div class="grid grid-cols-12 items-center">
              <div class="col-span-12 md:col-span-12 p-12" v-for="item in sponsorsXL" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 130px; cursor: pointer;"></a>
                </center>
              </div>
              <div class="col-span-12 md:col-span-6 p-12" v-for="item in sponsorsLG" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 115px; cursor: pointer;"></a>
                </center>
              </div>
              <div class="col-span-12 md:col-span-4 p-12" v-for="item in sponsorsMD" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 100px; cursor: pointer;"></a>
                </center>
              </div>
              <div class="col-span-12 md:col-span-4 py-12 px-20" v-for="item in sponsorsSM" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 90px; cursor: pointer;"></a>
                </center>
              </div>
              <div class="col-span-12 md:col-span-3 py-12" v-for="item in sponsorsXS" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 90px; cursor: pointer;"></a>
                </center>
              </div>
            </div>
          </div>

          <p class="flex pb-8 px-8 md:px-32 baby-pink-txt text-4xl font-bold raleway-font">Our Partners</p>
          <div class="faq-cont">
            <div class="grid grid-cols-6 justify-items-center items-center">
              <div class="col-span-6 md:col-span-2 p-12" v-for="item in partners1" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 100px; cursor: pointer;"></a>
                </center>
              </div>
              <div class="col-span-6 md:col-span-3 p-12" v-for="item in partners2" :key="item.id">
                <center>
                  <a v-bind:href="item[1]" target="_blank" rel="noopener noreferrer"><img :src="item[0]" style="max-height: 100px; cursor: pointer;"></a>
                </center>
              </div>
            </div>
          </div>


          <p class="pb-10 px-8 md:px-32 navy">
          Inter<a href="https://jadenbanze.tech">e</a>sted in sponsoring? Reach out to us at <a class="underline"
                                                          href="mailto:sponsor@tamuhack.com">sponsor@tamuhack.com</a>.
          </p>
        </div>


    </div>
    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!-- <script src="https://scrollmagic.io/assets/js/lib/jquery.min.js"></script> -->
    <!-- <script src="https://scrollmagic.io/assets/js/lib/greensock/TweenMax.min.js"></script> -->
    <!-- <script src="https://scrollmagic.io/assets/js/lib/modernizr.custom.min.js"></script> -->
    <!--<script src="https://scrollmagic.io/assets/js/lib/greensock/TweenMax.min.js"></script> -->
    <!-- <script src="https://scrollmagic.io/scrollmagic/uncompressed/ScrollMagic.js"></script> -->
    <!-- <script src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script> -->
    <!-- <script src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script> -->


    <!-- Create a vue.js object -->
    <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            // Needed for window.open, as seen in the navbar segment
            window: {
              width: 0,
              height: 0
            },
            // Store an array. Useful for looping
            //links: ["Info", "Schedule", "Prizes", "FAQ", "Sponsors"],
            links: ["Info", "Schedule", "Prizes", "FAQ", "Sponsors"],
            faqs: [
              {
                title: "Who can attend?",
                desc: "Any graduate/undergraduate student who is at least 18. Regardless of your experience, education, or background, as long as you are excited about learning, building, and having fun, we’d love for you to attend."
              },
              {
                title: "How much experience do I need?",
                desc: "Absolutely zero! We want you here because you have a passion for creating, not because you’re the most experienced hacker on the block. We’ll have lots of resources including workshops and a bunch of mentors to help beginners get started. There'll also be plenty of people to learn from and help out!"
              },
              {
                title: "How much does it cost?",
                desc: "Nothing. Nada. Zilch. It’s completely free for all accepted hackers. To make it even better, we’ll be giving out a ton of swag to every in-person hacker, and prizes to our winners."
              },
              {
                title: "How do you select who attends?",
                desc: "We are looking for novices, experts, and everyone in between. In fact, we aim to have a very diverse set of of hackers who can show their passion for creation and learning."
              },
              {
                title: "What should I bring?",
                desc: "Please bring a valid student ID in addition to anything that would help you with creating your hack or making you comfortable. A laptop, charger, mouse, keyboard, hardware, light jacket, and any hygienic products should be helpful. Don't bring anything you wouldn't bring on an airplane. In accordance to our COVID policy, you are required to bring a negative COVID test taken after January 15th, or proof of vaccination if you wish to attend in-person. See more info at tamuhack.com/covid"
              },
              {
                title: "How do teams work?",
                desc: "Teams are limited to 4 hackers. You don’t need to have a team before the event or have one at all, but hacking with friends is more fun! There will be plenty of time after the opening ceremony to form teams if you don't have one yet."
              },
              {
                title: "When is the deadline to apply for TAMUhack?",
                desc: "The deadline to registration is January 28, at 23:59."
              },
              {
                title: "Will prizes be shipped to international winners?",
                desc: "Unfortunately we are unable to ship prizes outside of the United States, but we will make alternate arrangements for non-US based winners."
              },
              {
                title: "Are there any COVID-19 Guidelines that I need to follow to attend TAMUhack?",
                desc: "You will need to either present a negative COVID-19 test taken on or after January 15th OR show proof of vaccination (presented digitally or physically). More detailed guidelines on our COVID-19 guidelines can be found on our 'About TAMUhack' section on our Info page."
              },
              {
                title: "Will there be workshops or talks?",
                desc: "Of course! We will have workshops running throughout the whole event. We will release the complete schedule on the website closer to the event."
              },
              {
                title: "Have additional questions?",
                desc: "Email us with any questions, comments, concerns at hello@tamuhack.com."
              }
            ],
            eventsSaturday: [
              {
                time: "09:00 AM",
                event: "Doors Open, Check-In Starts",
                type: "general"
              },
              {
                time: "10:00 AM",
                event: "Career Fair",
                type: "general"
              },
              {
                time: "11:30 AM",
                event: "Opening Ceremony",
                type: "general"
              },
              {
                time: "11:30 AM",
                event: "Team Formation",
                type: "general"
              },
              {
                time: "12:10 PM",
                event: "Hacking starts + Lunch",
                type: "food"
              },
              {
                time: "1:00 PM",
                event: "Intro to Web Development Workshop",
                type: "workshop"
              },
              {
                time: "01:45 PM",
                event: "Ford Workshop (online)",
                type: "workshop"
              },
              {
                time: "03:00 PM",
                event: "GM Workshop",
                type: "workshop"
              },
              {
                time: "03:45 PM",
                event: "Credera Workshop",
                type: "workshop"
              },
              {
                time: "04:30 PM",
                event: "VALORANT with Jaden on Discord/🕹Gaming",
                type: "general"
              },
              {
                time: "05:15 PM",
                event: "CBRE Workshop",
                type: "workshop"
              },
              {
                time: "07:00 PM",
                event: "State Farm Workshop (online)",
                type: "workshop"
              },
              {
                time: "07:30 PM",
                event: "Dinner",
                type: "food"
              },
              {
                time: "08:30 PM",
                event: "American Airlines Mini-event",
                type: "event"
              },
              {
                time: "10:00 PM",
                event: "Beginner-friendly CTF",
                type: "event"
              },
              {
                time: "11:15 PM",
                event: "Hacker Speed Dating",
                type: "event"
              },
            ],
            eventsSunday: [
              {
                time: "12:00 AM",
                event: "Talent Show",
                type: "event"
              },
              {
                time: "01:00 AM",
                event: "Lo-fi and Chill",
                type: "event"
              },
              {
                time: "07:00 AM",
                event: "Breakfast",
                type: "food"
              },
              {
                time: "09:00 AM",
                event: "Morning Yoga with Abhishek",
                type: "event"
              },
              {
                time: "10:00 AM",
                event: "Devpost Presentation",
                type: "general"
              },
              {
                time: "12:00 PM",
                event: "Hacking Ends",
                type: "general"
              },
              {
                time: "01:00 PM",
                event: "Lunch",
                type: "food"
              },
              {
                time: "02:00 PM",
                event: "Judging",
                type: "general"
              },
              {
                time: "04:00 PM",
                event: "Closing Ceremony",
                type: "general"
              }
            ],
            prizes: [
              {
                name: "Grand Prize",
                description: "1st place overall prize.",
                prize: "Prize: iPad (Latest Generation)"
              },
              {
                name: "Second Place",
                description: "2nd place overall prize.",
                prize: "Prize: Airpods Pro"
              },
              {
                name: "Third Place",
                description: "3rd place overall prize.",
                prize: "Prize: Creality Ender 3 3D Printers"
              },
              {
                name: "Best Beginner Hack",
                description: "Congratulations for competing in your first hackathon! Best hack created by first-time hackers at TAMUhack (team must have at least 2 first-timers to qualify).",
                prize: 'Prize: 1080p 160" Wi-fi Projector' 
              },
              {
                name: "Best Hardware Hack",
                description: "Best hack that involves hardware usage/integration.",
                prize: "Prize: Keychron K2 Mechanical Keyboard"
              },
              {
                name: "Best UI/UX Hack",
                description: "In the world of hacking and engineering, a product must not only work well, but also provide the best user experience possible - design and usability goes a long way! Best hack that demonstrates clear design and usability intentions.",
                prize: "Prize: Fujifilm Intax Mini 9"
              },
              {
                name: "Capital One Challenge",
                description: 'Best Financial Hack',
                prize: "Prize: x4 $200 Amazon Gift Cards"
              },
              {
                name: "CTF Mini-Event Winners",
                description: 'Compete with other hackers in a "Capture the Flag" mini-event. A CTF is a kind of information security competition that challenges contestants to solve a variety of tasks ranging from a scavenger hunt on wikipedia and basic programming exercises, to hacking your way into a server to steal data',
                prize: "Prize: Amazon Gift Cards"
              },
              {
                name: "American Airlines Challenge",
                description: 'Best Airline Hack',
                prize: "Prize: TBD"
              },
              {
                name: "State Farm Challenge",
                description: 'State Farm sells more than auto insurance. State Farm offers customers "Drive Safe and Save," a mobile application that tracks driving habits in order to reward safe driving practices.',
                description2: "Design a system that would allow State Farm to offer discounted home owners/renters insurance and/or life insurance based off of positive customer behavior.",
                prize: "Prizes: ",
                prize1: "1st - Oculus Quest 2",
                prize2: "2nd - Power Beats Pro",
                prize3: "3rd - Mechanical Keyboard",
              },
              {
                name: "USAA Challenge",
                description: 'Best Remote Learning Hack',
                prize: "Prizes: ",
                prize1: "1st - 4 ASUS Portable Monitors",
                prize2: "2nd - Solar Power Banks",
                prize3: "3rd - Smart LED Lamps"
              },
              {
                name: "CBRE Challenge",
                description: 'Best Hack for NLP',
                description2: 'Get everything you can from an invoice and to what category it belongs to. Invoices are in English and can be pdf or image. Approach to the problem, most times, matters more than the mere solution. The Discord channel would be open during the Hackathon for any queries.',
                prize: "Prize: x4 $100 VISA Gift Cards"
              },
              {
                name: "Ford Challenge",
                description: "Ford is challenging you to change the way drivers experience the road. From safety, navigation, fuel emissions, or comfort, build a hack that improves the way we travel. Whtether your focus is on building features like hands free mirror adjustment or crafting more efficient trips by improving navigation, we're excited to see the types of innovative solutions you and your team come up with. As an added bonus, Ford is giving each winning team member a $100 credit to the Ford store, usable towards a huge collection of amazing swag including sweatshirts, backpacks, hats, stickers, and so much more!",
                prize: "Prize: $100 Ford Store Gift Cards"
              },
              {
                name: "Pimco Challenge",
                description: 'For 50 years, PIMCO has worked relentlessly to help millions of investors around the world pursue their financial goals while navigating market change. Our growing technology team plays a crucial role in that mission by building and improving applications that the firm uses to support our clients on the path to meeting their goals.',
                description2: "For this challenge, we’d like to see Hacks that encourage good financial behavior and help to set individuals up for success in meeting their financial goals. Whether you choose to focus on saving, investing, building credit, financial literacy, or anything else you dream up, from our perspective, when you combine finance with technology, the sky’s the limit.",
                prize: "Prizes: ",
                prize1: "1st - $80 Amazon Gift Cards",
                prize2: "2nd - $40 Amazon Gift Cards",
              },
              {
                name: "JPMorgan Chase Challenge",
                description: 'Best Hack for Social Good',
                prize: "Prize: AirPod Pros"
              },
              {
                name: "Credera Challenge",
                description: 'Best Use of Serverless Technology',
                prize: "Prize: Amazon Echo Dots"
              },
              {
                name: "Google Cloud Challenge",
                description: 'Best Use of Google Cloud',
                prize: "Prizes: ",
                prize1: "1st - Google Cloud branded backpack",
                prize2: "2nd - Google Cloud Swag Box, Google Cloud credits, and Google Cloud Skills Boost Access",
              },
              {
                name: "Office of Sustainability Challenge: Disaster Resilience",
                description: 'Disasters in the Gulf Coast have impacted communities, often disproportionately. Develop an original innovative solution that tackles disasters for disenfranchised communities to manage their food, energy, and/or water challenges during and after disasters. Disasters may include (but not limited to) hurricanes, high winds, flooding, storm surge, winter extreme weather or others. Focus on the US Gulf Coast but could be applicable to anywhere in the world. Solutions with advanced data analytics, optimization (e.g. asset management, supply chain networks), and/or app development ideas will be given credits.',
                prize: "Prize: TAMU TEES Polo Shirt + Camelbak Water Bottle",
              },
            ],
            sponsorsXL: [
              [
                'https://s21.q4cdn.com/616071541/files/multimedia-gallery/assets/Logos/american-airlines/aa_aa__hrz_rgb_grd_pos.png',
                'https://jobs.aa.com/'
              ]
            ],
            sponsorsLG: [
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Ford_logo_flat.svg/250px-Ford_logo_flat.svg.png',
                'https://corporate.ford.com/careers.html'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/State_Farm_logo.svg/300px-State_Farm_logo.svg.png',
                'https://www.statefarm.com/careers'
              ],
            ],
            sponsorsMD: [
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/General_Motors_%282021%29.svg/150px-General_Motors_%282021%29.svg.png',
                'https://search-careers.gm.com/'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Phillips_66_logo.svg/155px-Phillips_66_logo.svg.png',
                'https://phillips66.jobs/'
              ],
              [
                'https://recruitinguploadbucket.s3.amazonaws.com/company_images/p1i33Logotype-V-Color%402x%20%281%29.png?versionId=397vdnAUjDYEuQfzNH952kPMpyOPYiaq',
                'https://www.credera.com/careers'
              ],
            ],
            sponsorsSM: [
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/CBRE_Group_logo.svg/250px-CBRE_Group_logo.svg.png',
                'https://careers.cbre.com/en_US/careers'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Capital_One_logo.svg/200px-Capital_One_logo.svg.png',
                'https://www.capitalonecareers.com/internships'
              ],

              [
                'https://www.abilities.ca/wp-content/uploads/2019/07/Accenture-logo-no-background.png',
                'https://www.accenture.com/'
              ],
            ],
            sponsorsXS: [
              [
                'https://upload.wikimedia.org/wikipedia/en/thumb/e/ec/USAA_logo.svg/150px-USAA_logo.svg.png',
                'https://www.usaajobs.com/'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/J_P_Morgan_Chase_Logo_2008_1.svg/400px-J_P_Morgan_Chase_Logo_2008_1.svg.png',
                'https://careers.jpmorgan.com/us/en/home'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/PIMCO_Logo.svg/220px-PIMCO_Logo.svg.png',
                'https://www.pimco.com/en-us/our-firm/careers'
              ],
              [
                'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Visa_2021.svg/150px-Visa_2021.svg.png',
                'https://usa.visa.com/careers.html'
              ],
            ],
  partners1: [
    [
      'https://images.squarespace-cdn.com/content/v1/5c464a9ab98a78b5f047db4a/1563212497020-EB185Z9094HLM5VFQNUU/ke17ZwdGBToddI8pDm48kB_x2tbxuRUlEA3jipT2Xr9Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIwKmOtNifXcnXkCouJC1NsXOb-g5-hEW1KYJag4VRCUk/CSCE_logo_HMaroon.png',
      'https://engineering.tamu.edu/cse/index.html'
    ],
    [
      'https://cdn.shopify.com/s/files/1/0556/3144/6212/files/UP_Logo_black_957x150_30cfa01e-a095-4c42-b625-89ab5ed1bc8d_1204x630.png?v=1625602441',
      'https://ultrapress.com/'
    ],
    [
      'https://sustainability.tamu.edu/_images/sustainability-logo.gif',
      'https://sustainability.tamu.edu/'
    ],
    
  ],
  partners2:[
    
    [
      'https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Guayak%C3%AD_corporate_logo.svg/440px-Guayak%C3%AD_corporate_logo.svg.png',
      'https://guayaki.com/'
    ],
    [
      'https://upload.wikimedia.org/wikipedia/en/thumb/f/f5/RedBullEnergyDrink.svg/440px-RedBullEnergyDrink.svg.png',
      'https://redbull.com/'       
    ],
    
  ]
}
},
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
})


    </script>
  </body>

</html>
