<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HH 2021</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">     
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>

    <style>
        .custom-font {
            font-family: 'Montserrat', sans-serif;
        }
        .custom-text{
            font-size: 20px;
            line-height: 30px;
            font-family: 'Open Sans', sans-serif;
        }

        .button-one {
            background-color: #F9E5C0; 
            border: 2px solid #6A4437
        }

        .playbar {
            background-color: #DCC3A7; 
            border-color: #6A4437; 
            border-width: 2px;
        }

        .bar {
            background-color: #F9E5C0; 
        }

        .button-one:hover {
            background-color: #f7d9a2;
        }

        .button-two {
            background-color: #DCC3A7;
            border: 2px solid #6A4437
        }

        .button-two:hover {
            background-color: #f8c387;
        }

        @media screen and (max-width: 900px) {
            .no-mobile {
                display: none!important;
            }
        }

        @media screen and (min-width: 901px) {
            .no-desktop {
                display: none!important;
            }
        }

        @media screen and (max-width: 500px) {
            .mobile-text {
                font-size: 22px!important;
            }
            .mobile-img {
                height: 60px;
            }
        }
        
        [v-cloak] {
            display: none
        }

    </style>
</head>
<body style="background-color: #ffefd2;">

<div id="app" v-cloak>
    <div class="hidden lg:flex justify-between fixed bottom-0 w-screen h-24 px-16 border playbar z-10 items-center">
        <div class="navigator flex flex-col justify-center items-left" style="min-width: 200px">
            <p class="custom-font font-bold text-lg">{{this.currentScreen}}</p>
            <p v-on:click="goto('top')" class="cursor-pointer custom-font font-light text-sm">back to top</p>
        </div>
        <div class="flex flex-col flex-grow px-24 playbarthing">
            <div class="flex justify-center pt-2">
                <img src="./../static/hh-2021/Rewind.svg">
                <img src="./../static/hh-2021/Pause.svg" class="px-16">
                <img src="./../static/hh-2021/Fast Forward.svg">
            </div>
            <div class="flex items-center">
                <p class="pr-4 mt-1"></p>
                <div class="flex flex-grow bar h-3 rounded-full mt-1" id="fill-bar-parent">
                    <div id="fill-bar"></div>
                </div>
                <p class="pl-4 mt-1">Hacking Starts</p>
            </div>
        </div>
        <div class="volume flex items-center">
            <img src="./../static/hh-2021/Low Volume.svg" style="max-width: 35px;">
            <div class="flex flex-grow bar h-3 rounded-full mt-1" style="min-width: 100px;">
                
            </div>
        </div>
    </div>
    <div ref="top" style="background-color: #ffefd2;">
        <div style="height: 100px!important; width:100px!important;">
            <img src="./../static/hh-2021/hh.svg" style="height: 75px; padding: 15px" class="mobile-img">
        </div>
        <!-- <div class="flex justify-center items-center" style="height: calc(100vh - 100px)"> -->
        <div class="flex justify-center md:transform md:-translate-y-20">
                <!-- <img src="./logo2.svg" class="h-3/4 m-1/8"> -->
            <img src="./../static/hh-2021/logo3.svg" class="md:pb-16 p-2 w-12/12 md:w-8/12" style="max-height: calc(100vh - 150px)">
            <div class="w-1/3 lg:width-2/5 h-1/3 justify-center no-mobile" style="position: absolute; bottom:0; right:0">
                <div class="mt-6 custom-text">
                    <span class="custom-text pt-4">
                        MSC 2400 and Virtually
                        <br>
                        September 11 - 12, 2021 
                    </span> <br /> <br />
                    <a href="https://howdyhack2021.devpost.com/" class="mr-6" target="_blank">
                        <button class="py-2 px-4 rounded w-2/5  special-text button-one">
                            Devpost
                        </button>
                    </a>
                    <a href="https://discord.gg/e3fDwp2" target="_blank">
                        <button class="py-2 px-4 rounded w-2/5 special-text button-two">
                            Discord
                        </button>
                    </a>

                    <br />
                    <br />
                    <a href="https://tamuhack.com/help" class="mr-6" target="_blank">
                        <button class="py-2 px-4 rounded w-2/5  special-text button-one">
                            Get Help
                        </button>
                    </a>

                    <a href="https://tamuhack.com/tips" target="_blank">
                        <button class="py-2 px-4 rounded w-2/5 special-text button-two">
                            Resources
                        </button>
                    </a>

                </div>
            </div> 
        </div>
        
        <div class="mt-6 custom-text flex justify-center no-desktop">
            <br>
            <div>
                <span class="custom-text mobile-text" style="font-size: 28px;">
                    Memorial Student Center
                    <br>
                    September 11 - 12, 2021 
                </span> <br /> <br />
                <a href="https://register.tamuhack.com/">
                    <button class="mb-4 py-2 px-4 rounded w-full special-text button-one">
                        Register
                    </button>
                </a>
                <br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUq4VJ7TXMcQiM9PFRiuBiscbRwyQsw4BgeLXQAPhbK8dxA/viewform" target="_blank" rel="noopener noreferrer">
                    <button class="py-2 px-4 rounded w-full special-text button-two">
                        Mentor
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div ref="info" class="mt-8" style="background-color: #ffefd2; padding-top: 20px;">
        <div class="no-mobile">
            <div class="p-4 ml-12">
                <div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-1.svg" class="inline-block p-4" style="vertical-align:top">
                </div>
                <div class="w-5/12 inline-block p-2">
                    <div class="text-3xl text-black">
                        What is HowdyHack?
                    </div>
                    <br>
                    <p class="pb-2 custom-text">
                        HowdyHack is Texas A&M's 24-hour, beginner-friendly, Aggie-only hackathon. Hackers at HowdyHack will brainstorm, build, and break their product before they’ll submit it to a panel of judges for evaluation and hopefully win some cool prizes.
                    </p>
                    <p class="pb-2 custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the creative space to showcase their skills and create something amazing while getting to know fellow hackers with the same Aggie pride!
                    </p>
                </div>
            </div>


            <div class="p-4 mr-20">
                <div class="w-1/2 inline-block"></div><div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-2.svg" class="inline-block p-4" style="vertical-align:top">
                </div><div class="w-5/12 inline-block p-2">
                    <div class="text-3xl">
                        How do I participate?
                    </div>
                    <br>
                    <p class="pb-2 custom-text">
                        To get started, head on over to register for the event. The first 100 people to sign up and submit a project will receive a care package with a T-shirt, stickers, and other hackathon swag from our sponsors. Sign up as soon as possible to secure your spot and qualify for a care package!
                    </p>
                    <p class="pb-2 custom-text">
                        After you sign up, you will receive a confirmation email letting you know you’re good to go. Now you can either form a team yourself, or you find one during the team building portion right before the competition!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>



            <div class="p-4 ml-12">
                <div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-3.svg" class="inline-block p-4" style="vertical-align:top">
                </div>
                <div class="w-5/12 inline-block p-2">
                    <div class="text-3xl">
                        Goal of HowdyHack
                    </div>
                    <br>
                    <p class="custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the opportunity to show off their capabilities to an audience who will listen and get to know fellow hackers with the same Aggie pride! There will also be workshops and activities to help you learn new skills!
                    </p>
                </div>
            </div>

        </div>
        <div class="no-desktop">
            <div class="mt-16">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    What is HowdyHack?
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-5">
                    <p class="pb-2 custom-text">
                        HowdyHack is Texas A&M's 24-hour, beginner-friendly, Aggie-only hackathon. Hackers at HowdyHack will brainstorm, build, and break their product before they’ll submit it to a panel of judges for evaluation and hopefully win some cool prizes.
                    </p>
                    <p class="pb-2 custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the creative space to showcase their skills and create something amazing while getting to know fellow hackers with the same Aggie pride!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>
            <div class="mt-8">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    How do I participate?
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-5">
                    <p class="pb-2 custom-text">
                        To get started, head on over to register for the event. The first 100 people to sign up and submit a project will receive a care package with a T-shirt, stickers, and other hackathon swag from our sponsors. Sign up as soon as possible to secure your spot and qualify for a care package!
                    </p>
                    <p class="pb-2 custom-text">
                        After you sign up, you will receive a confirmation email letting you know you’re good to go. Now you can either form a team yourself, or you find one during the team building portion right before the competition!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>
            <div class="mt-8">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    Goal of HowdyHack
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-5">
                    <p class="custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the opportunity to show off their capabilities to an audience who will listen and get to know fellow hackers with the same Aggie pride! There will also be workshops and activities to help you learn new skills!
                    </p>
                </div>
            </div>

        </div>

        <!-- <div class="">
            <div class="ml-8 w-5/12">
                <img src="info-1.svg" class="inline-block">
                <div class="w-1/4; inline-block">
                    <span class="text-3xl">
                        Hello
                    </span>
                    <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, accusamus dolores dicta voluptatum nostrum velit quis quas soluta unde. Fugit asperiores enim ex, aliquam molestias delectus labore provident! Voluptas atque, enim tempore modi libero quisquam nisi rerum, debitis quia, sed eveniet illum! Nemo vel ea debitis culpa. Deserunt, accusantium ipsam?
                </div>
            </div>
        </div> -->
    </div>
    
    <!-- SCHEDULE -->
    <div ref="schedule" class="flex-col" style="min-height: 100vh; background-color: #220800;">
        <img class="opacity-30 h-screen" style="float: left; z-index:1; position: absolute" src="./../static/hh-2021/note.svg">
        <div class="py-4 px-6 mt-16 md:px-0" style="color: #FFEFD6; z-index:2;position: relative;">
            <p class="text-6xl custom-font  text-left md:text-center lg:text-right lg:pr-16 font-medium mt-16 ">
                Schedule
            </p>
        </div>
        <div class="py-12 md:flex md:justify-around md:py-20 px-6 " style="z-index: 3; position: relative; color: #FFEFD6;">
            <div >
                <p class="pb-1 font-bold text-3xl custom-font" style="border-bottom: 10px solid #74A8A7; width: 140px;">Saturday</p>
                <li class="pt-4" style="list-style-type: none;">
                    <ul v-for="e in sat_events" class="flex mt-4">
                        <p class="custom-font pr-4 font-bold" style="width: 100px;">{{e.time}}:</p>
                        <p class="custom-font">{{e.desc}}</p>
                    </ul>
                </li>
            </div>
            <div class="pt-12 mr-0 md:pt-0">
                <p class="pb-1 font-bold text-3xl custom-font" style="border-bottom: 10px solid #C3645B; width: 120px;">Sunday</p>
                <li class="pt-4" style="list-style-type: none;">
                    <ul v-for="e in sun_events" class="flex mt-4">
                        <p class="custom-font pr-4 font-bold" style="width: 100px;">{{e.time + ":   "}}</p>
                        <p class="custom-font">{{e.desc}}</p>
                    </ul>
                </li>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div ref="faq" style="min-height: 100vh; background-color: #ffefd2;">
        <div class='p-4 ml-16 mt-16 no-mobile'>
            <img style="float:right; height: 100vh;" src="./../static/hh-2021/disk.svg">
            <div class="text-6xl font-light custom-font font-medium">
                FAQ
            </div>
            <div v-for="(f,i) in faq" class="mt-8 no-mobile" >
                <template>
                    <section >
                        <b-collapse :open="false" :style="styles[i%3]" class="card " animation="slide" aria-id="contentIdForA11y3">
                            <template #trigger="props">
                                <div
                                    class="card-header"
                                    role="button"
                                    aria-controls="contentIdForA11y3">
                                    <p class="p-4 card-header-title">
                                        {{f.title}}
                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon
                                            :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>
                            <div class="card-content">
                                <div class="content">
                                    {{f.desc}}
                                </div>
                            </div>
                        </b-collapse>
                    </section>
                </template>
            </div>
        </div>
        <div class="no-desktop p-4 mt-4">
            <div class="text-6xl custom-font font-medium ">
                FAQ
            </div>
            <div v-for="(f,i) in faq" class="mt-8 no-desktop" >
                <template>
                    <section >
                        <b-collapse :open="false" :style="styles_mobile[i%3]" class="card" animation="slide" aria-id="contentIdForA11y3">
                            <template #trigger="props">
                                <div
                                    class="card-header"
                                    role="button"
                                    aria-controls="contentIdForA11y3">
                                    <p class="p-4 card-header-title">
                                        {{f.title}}
                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon
                                            :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>
                            <div class="card-content">
                                <div class="content">
                                    {{f.desc}}
                                </div>
                            </div>
                        </b-collapse>
                    </section>
                </template>
            </div>
        </div>
 
    </div>

    <div ref="prizes" class="mb-32" style="min-height: 100vh; background-color: #ffefd2;">
        <div class='p-4 md:ml-16 mt-16'>
            <div class="text-6xl font-light custom-font font-medium">
                Prizes
            </div>
            <div class="flex justify-between mt-8">
                <div class="hidden lg:flex flex-col justify-around px-4">
                    <img src="./../static/hh-2021/dial.svg">
                    <img src="./../static/hh-2021/dial.svg" class="transform rotate-12">
                    <img src="./../static/hh-2021/dial.svg" class="transform rotate-12 rotate-180">
                    <img src="./../static/hh-2021/dial.svg" class="transform rotate-12 rotate-90">
                </div>
                <div class="md:grid md:grid-cols-2 w-12/12 lg:w-8/12">
<!-- TODO: Separate First entry from the rest -->
                    <div class="col-span-2 py-4 px-8 mt-4 md:ml-1 md:mt-1 border-4 border-black">
                        <p class="custom-font text-xl font-medium text-black ">{{prizes[0].name}}</p>
                        <p class="custom-font text-sm text-black">{{prizes[0].desc}}</p>
                        <p class="custom-font text-sm text-black pt-8">{{prizes[0].prize}}</p>
                    </div>
                    <div v-for="(f,i) in prizes" v-if="i>0" class="flex flex-col py-4 px-8 mt-4 md:ml-1 md:mt-1 border-4 border-black justify-between ">
                        <div>
                            <p class="custom-font text-xl font-medium text-black ">{{f.name}}</p>
                            <p class="custom-font text-sm text-black">{{f.desc}}</p>
                        </div> 
                        <p class="custom-font text-sm text-black pt-8">{{f.prize}}</p>
                    </div>
                </div>
                <div class="hidden lg:flex flex-col justify-around px-4">
                    <img src="./../static/hh-2021/slider1.svg">
                    <img src="./../static/hh-2021/slider2.svg">
                </div>
                <div class="hidden lg:flex flex-col justify-around px-4">
                    <img src="./../static/hh-2021/btngroup1.svg">
                    <div class="flex flex-col justify-around">
                        <img class="mb-12" src="./../static/hh-2021/btn.svg">
                        <img class="mb-12" src="./../static/hh-2021/btn.svg">
                        <img class="mb-12" src="./../static/hh-2021/btn.svg">
                        <img class="mb-12" src="./../static/hh-2021/btn.svg">
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- <img class="w-screen min-h-screen h-screen" src="./../static/hh-2021/Frame.svg"> -->
    <div ref="bottom" class="overflow-hidden">
        <div style="min-height: 100vh; background-color: #ffefd2; background-image: url(./../static/hh-2021/Frame.svg);" class="animate-wiggle pt-32 bg-cover bg-left">
            
        </div>
    </div>
    
    <!-- <div style="min-height: 100vh; background-color: #ffefd2; background-image: url(./../static/hh-2021/Frame.svg);" class="pt-32 bg-cover bg-left"> -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        new Vue({
          el: "#app",
          methods: {
            goto: function (place) {
                window.scrollTo( {
                    top: this.$refs[place].offsetTop,
                    left: 0,
                    behavior: 'smooth'
                })
            },
            check(pos) {
                if(pos >= this.$refs['bottom'].offsetTop) {
                    console.log("1")
                } else if(pos >= this.$refs['prizes'].offsetTop) {
                    console.log("2")
                } else if(pos >= this.$refs['faq'].offsetTop) {
                    console.log("3")
                } 
            },
            updateScroll() {
                this.scrollPosition = window.scrollY
                let pos = this.scrollPosition
                if(pos >= this.$refs['bottom'].offsetTop) {
                    this.currentScreen = "End"
                } else if(pos >= this.$refs['prizes'].offsetTop) {
                    this.currentScreen = "Prizes"
                } else if(pos >= this.$refs['faq'].offsetTop) {
                    this.currentScreen = "FAQ"
                } else if(pos >= this.$refs['schedule'].offsetTop) {
                    this.currentScreen = "Schedule"
                } else if(pos >= this.$refs['info'].offsetTop) {
                    this.currentScreen = "Info"
                } else {
                    this.currentScreen = "Home" 
                }
            },
 
          },
          data: function () {
              return {
                scrollPosition: null,
                currentScreen: "Home",
                styles: [
                    'background: #FDC6A8; width: 50%',
                    'background: #C8D8C0; width: 45%',
                    'background: #FFE9B0; width: 40%',
                ],
                styles_mobile: [
                    'background: #FDC6A8',
                    'background: #C8D8C0',
                    'background: #FFE9B0',
                ],
                faq: [{
                    title: "How much does it cost?",
                    desc: "It’s FREE! All you need is a laptop and Wi-Fi!"
                }, {
                    title: "I don’t know how to code! Can I still participate?",
                    desc: "Of course! There will be mentors online and in-person to help answer any questions you may have. We will also have workshops and mini-events to keep you on your toes throughout the competition, so there will never be an ounce of boredom."
                }, {
                    title: "Is there a theme for HowdyHack?",
                    desc: "Yes! This year’s theme is “Music”. This is an opportunity for you to come up with the coolest, most technologically savvy hacks relating to music!"
                }, {
                    title: "I don’t have a team! Can I still participate?",
                    desc: "Don't sweat it! We will have team-forming channels before we kickoff the opening ceremony so everyone will have a group to hack with."
                }, {
                    title: "Will there be companies at the hackathon?",
                    desc: "While there will not be companies present at the hackathon, we will have various workshops throughout the entire event and leading up to it to help you get ready. We’ve got your back!"
                }, {
                    title: "I'm not from A&M, can I still join?",
                    desc: "HowdyHack is only open to students from Texas A&M, including College Station, Galveston, and Qatar campuses. If you're not a Texas A&M student, be on the lookout for TAMUhack, our inter-collegiate Spring hackathon!"
                }, {
                    title: "When is the deadline to apply for HowdyHack?",
                    desc: "The deadline to register is the night before the event, September 10th at 23:59 CDT."
                }, {
                    title: "Have additional questions?",
                    desc: "Email us with any questions, comments, concerns at hello@tamuhack.com."
                }],
                sat_events: [
                    {
                        time: "9:00 AM",
                        desc: "Doors Open, Check-In Begins"
                    },
                    {
                        time: "11:00 AM",
                        desc: "Opening Ceremony + General Q/A"
                    },
                    {
                        time: "11:30 AM",
                        desc: "Virtual Team Formation"
                    },
                    {
                        time: "12:00 PM",
                        desc: "Hacking starts"
                    },
                    {
                        time: "12:30 PM",
                        desc: "Lunch"
                    },
                    {time: "1:15 PM", desc: "TAMUDatathon: intro to python "},
                    {time: "2:00 PM", desc: "IEEE: Arduino demo"},
                    {time: "2:45 PM", desc: "AWiCS: Women in tech discussion panel  "},
                    {time: "3:30 PM", desc: "Robomasters: Real time object detection"},
                    {time: "4:15 PM", desc: "AHiCS"},
                    {time: "5:00 PM", desc: "Cybersecurity: Binary Exploitation"},
                    {time: "5:45 PM", desc: "ACC: How to deploy ur app"},
                    // {
                    //     time: "1:15 PM",
                    //     desc: "Workshops (From Datathon, AWiCs, ACC, and more)"
                    // },
                    {
                        time: "6:30 PM",
                        desc: "Tech Intern Panel"
                    },
                    {
                        time: "7:30 PM",
                        desc: "Dinner"
                    },
                    {
                        time: "8:00 PM",
                        desc: "Bob Ross Painting Show"
                    },
                    {
                        time: "9:00 PM",
                        desc: "Office Hours/Help"
                    },
                    {
                        time: "10:00 PM",
                        desc: "Speed networking"
                    },
                    {
                        time: "11:00 PM",
                        desc: "Musical chairs"
                    },
                    {
                        time: "Midnight",
                        desc: "Talent show"
                    }
                ],
                sun_events: [
                    {
                        time: "1:00 AM",
                        desc: "Slideshow karaoke"
                    },
                    {
                        time: "2:15 AM",
                        desc: "Debate"
                    },
                    {
                        time: "3:30 AM",
                        desc: "Lofi and chill"
                    },
                    {
                        time: "5:30 AM",
                        desc: "Netflix Party"
                    },
                    {
                        time: "6:30 AM",
                        desc: "Morning Coffee Talk Show"
                    },
                    {
                        time: "8:00 AM",
                        desc: "Awards Mini Events"
                    },
                    {
                        time: "9:30 AM",
                        desc: "Morning Yoga"
                    },
                    {
                        time: "12:00 PM",
                        desc: "Hacking Ends"
                    },
                    {
                        time: "2:00 PM",
                        desc: "Judging"
                    },
                    {
                        time: "4:00 PM",
                        desc: "Award Ceremony"
                    },
                ],
                prizes: [
                    {
                        name: "First Place",
                        desc:"This prize will be awarded to the best overall project submission",
                        prize: "Noise Cancelling Headphones",
                    },
                    {
                        name: "Second Place",
                        desc: "This prize will be awarded to the second place project submission",
                        prize: "Mechanical Keyboards",
                    },
                    {
                        name: "Third Place",
                        desc:"This prize will be awarded to the third place project submission",
                        prize: "Mini Projectors",
                    },
                    {
                        name: "Best Music Related",
                        desc: "This prize will be awarded to the best music related hack",
                        prize: "Bluetooth Speakers",
                    },
                    {
                        name: "Best UI",
                        desc:"This prize will be awarded to the project submission that has the best user interface in terms of aesthetics and usability.",
                        prize: "Polaroid Cameras",
                    },
                    {
                        name: "Best Impractical",
                        desc: "A hackathon is the best place to explore new ideas, but maybe some ideas should be left unexplored. This prize will be awarded to the project submission that best solves a problem without actually solving anything.",
                        prize: "Squeeze Chickens",
                    },
                    {
                        name: "Best Aggie Hack",
                        desc:"The best hack that helps, improves, or unites Aggies, the University, or Aggieland community overall.",
                        prize: "Reveille Pillow Pets",
                    },
                ]
              }
          },
          mounted: function () {
            console.log("Init")
            window.addEventListener('scroll', this.updateScroll)

            setInterval(() => {
                var parent = document.getElementById("fill-bar-parent");
                var child = document.getElementById("fill-bar");
                element_width = parent.clientWidth
                console.log(element_width) 
                // console.log('Second')
                
                // border-left: 80px solid red;
                // var hacking_starts = moment('9-11-2021 5:37 AM', 'MM-DD-YYYY hh:mm A')
                // var hacking_ends =   moment('9-11-2021 5:39 AM', 'MM-DD-YYYY hh:mm A')

                var hacking_starts = moment('9-11-2021 12:00 PM', 'MM-DD-YYYY hh:mm A')
                var hacking_ends =   moment('9-12-2021 12:00 PM', 'MM-DD-YYYY hh:mm A')
                e = (hacking_starts - moment.now())
                if (e < 0) {
                    ratio =  Math.abs(hacking_starts - moment.now()) / (hacking_ends - hacking_starts)
                    console.log(ratio)

                    width_of_div = element_width * Math.min(1, ratio)
                    child.style.borderLeft = `${Math.floor(width_of_div)}px solid #220800`

                } else {
                    var hacking_starts = moment('9-11-2021 6:00 AM', 'MM-DD-YYYY hh:mm A')
                    var hacking_ends =   moment('9-11-2021 12:00 PM', 'MM-DD-YYYY hh:mm A')

                    ratio =  Math.abs(hacking_starts - moment.now()) / (hacking_ends - hacking_starts)
                    console.log(ratio)

                    width_of_div = element_width * Math.min(1, ratio)
                    child.style.borderLeft = `${Math.floor(width_of_div)}px solid #220800`

                    console.log("Time in past")
                }
            }, 250);


          },
        })
    </script>


</body>
</html>
