<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HH 2022</title>
    <link rel="stylesheet" type="text/css" href="..\static\hh-2022\styles\app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <!--
        DO NOT USE THIS!
        Please use static/hh-2022/styles/app.css for any styles that are too hard to do in tailwind
     -->
    

</head>

<body class="off-black">
    <div id="app" v-cloak>
        <div class="bg-cover bg-repeat" style="background-image: url('./../static/hh-2022/hh22_assets/bg.jpg');">
            <!-- NAVBAR -->
            <nav class="p-5 md:flex md:items-center md:justify-between">
                <div class="flex justify-between items-center">
                    <span class="text-2xl text-white raleway-font font-bold cursor-pointer">hh</span>
                    <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                        <ion-icon size="large" name="menu" onclick="Menu(this)"></ion-icon>
                    </span>
                    
                </div>
                <ul class="off-black md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-300">
                    <li class="mx-4 my-2 md:my-0">
                        <a href="#landing" class="text-xl text-white font-semibold raleway-font">Info</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="#" class="text-xl text-white font-semibold raleway-font">Schedule</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="#" class="text-xl text-white font-semibold raleway-font">Prizes</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="#" class="text-xl text-white font-semibold raleway-font">FAQ</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="#" class="text-xl text-white font-semibold raleway-font">Sponsors</a>
                    </li>
                </ul>
            </nav>
            <script>
                function Menu(e){
                let list = document.querySelector('ul');
                e.name === 'menu' ? (e.name = "close",list.classList.add('top-[80px]') , list.classList.add('opacity-100')) :( e.name = "menu" ,list.classList.remove('top-[80px]'),list.classList.remove('opacity-100'))
                }
            </script>

            <!-- LANDING -->
            <div id="landing">
                <section>
                    <div class="showcase">
                        <div class="ptext">
                            <h2 class="">HOWDY WORLD!</h2>
                        </div>
                    </div>
                </section>
                <div class="flex justify-center">
                    <img class="md:w-1/2 shake absolute" src=".\..\static\hh-2022\hh22_assets\hh22_clouds.png"> 
                    <img class="md:w-1/2 shake absolute" src=".\..\static\hh-2022\hh22_assets\hh22_ocean.png"> 
                    <img class="md:w-1/2 shake" src=".\..\static\hh-2022\hh22_assets\hh22_earth.png"> 
                </div>
            </div>

            <!-- INFO 
            <div id="info" class="h-full" style="padding-top: 6em;">
                <p class="flex pb-4 px-8 md:px-32 text-white text-3xl font-extrabold raleway-font">Information</p>
                <div class="md:mt-8 mx-4 lg:flex md:px-12 lg:px-32 place-content-center z-40">
                    <div class="leftcol lg:w-1/2">
                      <div v-for="(information, i) in information" v-if="(window.width >= 1024 && i % 2 == 0) || (window.width < 1024)" class="lg:mr-8 mt-8 py-3 px-3 border-0 transparent-white rounded-md opacity-100 md:mb-20">
                        <div class="rounded-md px-8 py-4">
                          <p class="text-xl md:text-2xl font-extrabold raleway-font off-black-text">{{information.title}}</p>
                          <p class="mt-3 text-l md:text-md font-md opensans-font off-black-text">{{information.desc}}</p>
                          <p class="mt-3 text-l md:text-md font-md opensans-font off-black-text">{{information.desc2}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="hidden lg:block lg:w-1/2 md:py-20 md:my-20">
                      <div v-for="(information, i) in information" v-if="i % 2 == 1" class="lg:ml-8 mt-8 py-3 px-3 border-0 rounded-md transparent-white opacity-100">
                        <div class="rounded-md px-8 py-4">
                          <p class="text-xl md:text-2xl font-extrabold raleway-font off-black-text">{{information.title}}</p>
                          <p class="mt-3 text-l md:text-md font-md opensans-font off-black-text">{{information.desc}}</p>
                          <p class="mt-3 text-l md:text-md font-md opensans-font off-black-text">{{information.desc2}}</p>
                        </div>
                      </div>
                    </div>
            </div>
            -->

            <!-- INFO -->

            <div id="info" class="" style="padding: 6em;">
                <div class="flex flex-row">
                    <div class="w-1/4">
                        <div class="flex flex-col">
                            <div class="self-start">
                                <p class="text-md font-bold py-2 px-2 bg-white rounded-md">testing.</p>
                            </div>
                            <div class="self-end">
                                <p class="text-md font-bold py-2 px-2 bg-white rounded-md">testing.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="w-1/2 px-10">
                        <img src=".\..\static\hh-2022\hh22_assets\info_board.png">
                    </div>
                    <div class="w-1/4 self-center">
                        <p class="text-md font-bold py-2 px-2 bg-white rounded-md">testing.</p>
                    </div>
                </div>
            </div>

            <!-- PRIZES 

            <div id="prizes" class="h-full" style="padding-top: 4em;">
                <p class="flex pb-4 px-8 md:px-32 text-white text-3xl font-extrabold raleway-font">Prizes</p>
            </div>

            -->
        </div>
    </div> 
</body>   

    <!--
    Ignore this stuff unless you know what you're doing.
     -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        new Vue({
          el: "#app",
          methods: {
 
          },
          data: function () {
              return {
                window: {
                    width: 0,
                    height: 0
                },

                scrollPosition: null,
                currentScreen: "Home",
                information: [{
                    title: "What is HowdyHack?",
                    desc: "HowdyHack is Texas A&M's 24-hour, beginner-friendly, Aggie-only hackathon. Hackers at HowdyHack will brainstorm, build, and break their product before they’ll submit it to a panel of judges for evaluation and hopefully win some cool prizes.",
                    desc2: "Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the creative space to showcase their skills and create something amazing while getting to know fellow hackers with the same Aggie pride!"
                }, {
                    title: "How do I participate?",
                    desc: "To get started, head on over to register for the event. The first 100 people to sign up and submit a project will receive a care package with a T-shirt, stickers, and other hackathon swag from our sponsors. Sign up as soon as possible to secure your spot and qualify for a care package!",
                    desc2: "After you sign up, you will receive a confirmation email letting you know you’re good to go. Now you can either form a team yourself, or you find one during the team building portion right before the competition!"
                }, {
                    title: "Goal of HowdyHack",
                    desc: "Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the opportunity to show off their capabilities to an audience who will listen and get to know fellow hackers with the same Aggie pride! There will also be workshops and activities to help you learn new skills!",
                    desc2: ""
                }],
                faq: [{
                    title: "How much does it cost?",
                    desc: "It’s FREE! All you need is a laptop and Wi-Fi!"
                }, {
                    title: "I don’t know how to code! Can I still participate?",
                    desc: "Of course! There will be mentors online and in-person to help answer any questions you may have. We will also have workshops and mini-events to keep you on your toes throughout the competition, so there will never be an ounce of boredom."
                }],
                sat_events: [
                    {
                        time: "9:00 AM",
                        desc: "Doors Open, Check-In Begins"
                    },
                    {
                        time: "10:30 AM",
                        desc: "Opening Ceremony + General Q/A"
                    },
                    {
                        time: "11:30 AM",
                        desc: "Virtual Team Formation"
                    },
                    {
                        time: "12:00 PM",
                        desc: "Hacking starts"
                    },
                    {
                        time: "12:30 PM",
                        desc: "Lunch"
                    },
                    {time: "1:15 PM", desc: "TAMUDatathon: intro to python "},
                    {time: "2:00 PM", desc: "IEEE: Arduino demo"},
                    {time: "2:45 PM", desc: "AWiCS: Women in tech discussion panel  "},
                    {time: "3:30 PM", desc: "Robomasters: Real time object detection"},
                    {time: "4:15 PM", desc: "AHiCS"},
                    {time: "5:00 PM", desc: "Cybersecurity: Binary Exploitation"},
                    {time: "5:45 PM", desc: "ACC: How to deploy ur app"},
                    {
                        time: "6:30 PM",
                        desc: "Tech Intern Panel"
                    },
                    {
                        time: "7:30 PM",
                        desc: "Dinner"
                    },
                    {
                        time: "8:00 PM",
                        desc: "Bob Ross Painting Show"
                    },
                    {
                        time: "9:00 PM",
                        desc: "Office Hours/Help"
                    },
                    {
                        time: "10:00 PM",
                        desc: "Speed networking"
                    },
                    {
                        time: "11:00 PM",
                        desc: "Musical chairs"
                    },
                    {
                        time: "Midnight",
                        desc: "Talent show"
                    }
                ],
                sun_events: [
                    {
                        time: "1:00 AM",
                        desc: "Slideshow karaoke"
                    },
                    {
                        time: "2:15 AM",
                        desc: "Debate"
                    },
                    {
                        time: "3:30 AM",
                        desc: "Lofi and chill"
                    },
                    {
                        time: "5:30 AM",
                        desc: "Netflix Party"
                    },
                    {
                        time: "6:30 AM",
                        desc: "Morning Coffee Talk Show"
                    },
                    {
                        time: "8:00 AM",
                        desc: "Awards Mini Events"
                    },
                    {
                        time: "9:30 AM",
                        desc: "Morning Yoga"
                    },
                    {
                        time: "12:00 PM",
                        desc: "Hacking Ends"
                    },
                    {
                        time: "2:00 PM",
                        desc: "Judging"
                    },
                    {
                        time: "4:00 PM",
                        desc: "Award Ceremony"
                    },
                ],
                prizes: [
                    {
                        name: "First Place",
                        desc:"This prize will be awarded to the best overall project submission",
                        prize: "Noise Cancelling Headphones",
                    },
                    {
                        name: "Second Place",
                        desc: "This prize will be awarded to the second place project submission",
                        prize: "Mechanical Keyboards",
                    },
                    {
                        name: "Third Place",
                        desc:"This prize will be awarded to the third place project submission",
                        prize: "Mini Projectors",
                    },
                    {
                        name: "Best Music Related",
                        desc: "This prize will be awarded to the best music related hack",
                        prize: "Bluetooth Speakers",
                    },
                    {
                        name: "Best UI",
                        desc:"This prize will be awarded to the project submission that has the best user interface in terms of aesthetics and usability.",
                        prize: "Polaroid Cameras",
                    },
                    {
                        name: "Best Impractical",
                        desc: "A hackathon is the best place to explore new ideas, but maybe some ideas should be left unexplored. This prize will be awarded to the project submission that best solves a problem without actually solving anything.",
                        prize: "Squeeze Chickens",
                    },
                    {
                        name: "Best Aggie Hack",
                        desc:"The best hack that helps, improves, or unites Aggies, the University, or Aggieland community overall.",
                        prize: "Reveille Pillow Pets",
                    },
                ]
              }
          },
          mounted: function () {
            console.log("Init")
          },
          created() {
                window.addEventListener('resize', this.handleResize);
                this.handleResize();
            },
            destroyed() {
                window.removeEventListener('resize', this.handleResize);
            },
            methods: {
                handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
                }
            }
        })
    </script>
</body>
</html>
