<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HH 2021</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">     
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>

    <style>
        .custom-font {
            font-family: 'Montserrat', sans-serif;
        }
        .custom-text{
            font-size: 20px;
            line-height: 30px;
            font-family: 'Roboto', sans-serif;
        }

        .button-one {
            background-color: #F9E5C0; 
            border: 2px solid #6A4437
        }

        .button-one:hover {
            background-color: #f7d9a2;
        }

        .button-two {
            background-color: #DCC3A7;
            border: 2px solid #6A4437
        }

        .button-two:hover {
            background-color: #f8c387;
        }

        @media screen and (max-width: 900px) {
            .no-mobile {
                display: none!important;
            }
        }

        @media screen and (min-width: 901px) {
            .no-desktop {
                display: none!important;
            }
        }

        @media screen and (max-width: 500px) {
            .mobile-text {
                font-size: 22px!important;
            }
            .mobile-img {
                height: 60px;
            }
        }
        

    </style>
</head>
<body style="background-color: #ffefd2;">
<div id="app" v-cloak>
    <div class="" style="background-color: #ffefd2;">
        <div style="height: 100px!important; width:100px!important;">
            <img src="./../static/hh-2021/hh.svg" style="height: 100px; padding: 15px" class="mobile-img">
        </div>
        <!-- <div class="flex justify-center items-center" style="height: calc(100vh - 100px)"> -->
        <div class="flex justify-center">
                <!-- <img src="./logo2.svg" class="h-3/4 m-1/8"> -->
            <img src="./../static/hh-2021/logo3.svg" class="md:pb-16 p-2" style="max-height: calc(100vh - 100px); width:100%">
            <div class="w-1/3 lg:width-2/5 h-1/3 justify-center no-mobile" style="position: absolute; bottom:0; right:0">
                <div class="mt-6 custom-text">
                    <span class="custom-text">
                        Memorial Student Center
                        <br>
                        September 11 - 12, 2021 
                    </span> <br /> <br />
                    <a href="https://register.tamuhack.com/" class="mr-6">
                        <button class="py-2 px-4 rounded w-2/5  special-text button-one">
                            Register
                        </button>
                    </a>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUq4VJ7TXMcQiM9PFRiuBiscbRwyQsw4BgeLXQAPhbK8dxA/viewform" target="_blank" rel="noopener noreferrer">
                        <button class="py-2 px-4 rounded w-2/5 special-text button-two">
                            Mentor
                        </button>
                    </a>
                </div>
            </div> 
        </div>
        
        <div class="mt-6 custom-text flex justify-center no-desktop">
            <div>
                <span class="custom-text mobile-text" style="font-size: 28px;">
                    Memorial Student Center
                    <br>
                    September 11 - 12, 2021 
                </span> <br /> <br />
                <a href="https://register.tamuhack.com/">
                    <button class="mb-4 py-2 px-4 rounded w-full special-text button-one">
                        Register
                    </button>
                </a>
                <br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUq4VJ7TXMcQiM9PFRiuBiscbRwyQsw4BgeLXQAPhbK8dxA/viewform" target="_blank" rel="noopener noreferrer">
                    <button class="py-2 px-4 rounded w-full special-text button-two">
                        Mentor
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="" style="background-color: #ffefd2;">
        <div class="no-mobile">
            <div class="p-4 ml-12">
                <div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-1.svg" class="inline-block p-4" style="vertical-align:top">
                </div>
                <div class="w-5/12 inline-block p-2">
                    <div class="text-3xl">
                        What is HowdyHack?
                    </div>
                    <br>
                    <p class="pb-2 custom-text">
                        HowdyHack is Texas A&M's 24-hour, beginner-friendly, Aggie-only hackathon. Hackers at HowdyHack will brainstorm, build, and break their product before they’ll submit it to a panel of judges for evaluation and hopefully win some cool prizes.
                    </p>
                    <p class="pb-2 custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the creative space to showcase their skills and create something amazing while getting to know fellow hackers with the same Aggie pride!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>


            <div class="p-4 mr-12">
                <div class="w-1/2 inline-block"></div><div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-2.svg" class="inline-block p-4" style="vertical-align:top">
                </div><div class="w-5/12 inline-block p-2">
                    <div class="text-3xl">
                        How do I participate?
                    </div>
                    <br>
                    <p class="pb-2 custom-text">
                        To get started, head on over to register for the event. The first 100 people to sign up and submit a project will receive a care package with a T-shirt, stickers, and other hackathon swag from our sponsors. Sign up as soon as possible to secure your spot and qualify for a care package!
                    </p>
                    <p class="pb-2 custom-text">
                        After you sign up, you will receive a confirmation email letting you know you’re good to go. Now you can either form a team yourself, or you find one during the team building portion right before the competition!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>



            <div class="p-4 ml-12">
                <div class="w-1/12 inline-block" style="vertical-align:top">
                    <img src="./../static/hh-2021/info-3.svg" class="inline-block p-4" style="vertical-align:top">
                </div>
                <div class="w-5/12 inline-block p-2">
                    <div class="text-3xl">
                        Goal of HowdyHack
                    </div>
                    <br>
                    <p class="custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the opportunity to show off their capabilities to an audience who will listen and get to know fellow hackers with the same Aggie pride! There will also be workshops and activities to help you learn new skills!
                    </p>
                </div>
            </div>

        </div>
        <div class="no-desktop">
            <div class="mt-16">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    What is HowdyHack?
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-6">
                    <p class="pb-2 custom-text">
                        HowdyHack is Texas A&M's 24-hour, beginner-friendly, Aggie-only hackathon. Hackers at HowdyHack will brainstorm, build, and break their product before they’ll submit it to a panel of judges for evaluation and hopefully win some cool prizes.
                    </p>
                    <p class="pb-2 custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the creative space to showcase their skills and create something amazing while getting to know fellow hackers with the same Aggie pride!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>
            <div class="mt-8">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    How do I participate?
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-6">
                    <p class="pb-2 custom-text">
                        To get started, head on over to register for the event. The first 100 people to sign up and submit a project will receive a care package with a T-shirt, stickers, and other hackathon swag from our sponsors. Sign up as soon as possible to secure your spot and qualify for a care package!
                    </p>
                    <p class="pb-2 custom-text">
                        After you sign up, you will receive a confirmation email letting you know you’re good to go. Now you can either form a team yourself, or you find one during the team building portion right before the competition!
                    </p>
                    <p class="custom-text" style="font-weight: 800;">
                        Note: In-person availability is only for the first 200 people who check-in at our venue on the morning of HowdyHack.
                    </p>
                </div>
            </div>
            <div class="mt-8">
                <div class="text-3xl p-3" style="background-color: #220800; color: white; max-width: 400px;">
                    Goal of HowdyHack
                </div>
                <hr style="border: 2px solid #220800">
                <div class="p-6">
                    <p class="custom-text">
                        Beyond hacking, HowdyHack is about connecting creative and talented Aggie hackers with each other. We want to give hackers the opportunity to show off their capabilities to an audience who will listen and get to know fellow hackers with the same Aggie pride! There will also be workshops and activities to help you learn new skills!
                    </p>
                </div>
            </div>

        </div>

        <!-- <div class="">
            <div class="ml-8 w-5/12">
                <img src="info-1.svg" class="inline-block">
                <div class="w-1/4; inline-block">
                    <span class="text-3xl">
                        Hello
                    </span>
                    <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, accusamus dolores dicta voluptatum nostrum velit quis quas soluta unde. Fugit asperiores enim ex, aliquam molestias delectus labore provident! Voluptas atque, enim tempore modi libero quisquam nisi rerum, debitis quia, sed eveniet illum! Nemo vel ea debitis culpa. Deserunt, accusantium ipsam?
                </div>
            </div>
        </div> -->
    </div>
    <div style="min-height: 100vh; background-color: #ffefd2;">
        <div class='p-4 ml-16 mt-16 no-mobile'>
            <img style="float: right; max-height: 100vh;" src="./../static/hh-2021/disk.svg">
            <div class="text-6xl font-light custom-font">
                FAQ
            </div>
            <div v-for="(f,i) in faq" class="mt-8 no-mobile" >
                <template>
                    <section >
                        <b-collapse :open="false" :style="styles[i%3]" class="card " animation="slide" aria-id="contentIdForA11y3">
                            <template #trigger="props">
                                <div
                                    class="card-header"
                                    role="button"
                                    aria-controls="contentIdForA11y3">
                                    <p class="p-4 card-header-title">
                                        {{f.title}}
                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon
                                            :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>
                            <div class="card-content">
                                <div class="content">
                                    {{f.desc}}
                                </div>
                            </div>
                        </b-collapse>
                    </section>
                </template>
            </div>
        </div>
        <div class="no-desktop p-4">
            <div class="text-6xl font-light custom-font">
                FAQ
            </div>
            <div v-for="(f,i) in faq" class="mt-8 no-desktop" >
                <template>
                    <section >
                        <b-collapse :open="false" :style="styles_mobile[i%3]" class="card" animation="slide" aria-id="contentIdForA11y3">
                            <template #trigger="props">
                                <div
                                    class="card-header"
                                    role="button"
                                    aria-controls="contentIdForA11y3">
                                    <p class="p-4 card-header-title">
                                        {{f.title}}
                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon
                                            :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>
                            <div class="card-content">
                                <div class="content">
                                    {{f.desc}}
                                </div>
                            </div>
                        </b-collapse>
                    </section>
                </template>
            </div>
        </div>
 
    </div>
    <div style="height: 100px;">
        &nbsp;
    </div>
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </div>
    <script>
        new Vue({
          el: "#app",
          data: function () {
              return {
                styles: [
                    'background: #FDC6A8; width: 50%',
                    'background: #C8D8C0; width: 45%',
                    'background: #FFE9B0; width: 40%',
                ],
                styles_mobile: [
                    'background: #FDC6A8',
                    'background: #C8D8C0',
                    'background: #FFE9B0',
                ],
                faq: [{
                    title: "How much does it cost?",
                    desc: "It’s FREE! All you need is a laptop and Wi-Fi!"
                }, {
                    title: "I don’t know how to code! Can I still participate?",
                    desc: "Of course! There will be mentors online and in-person to help answer any questions you may have. We will also have workshops and mini-events to keep you on your toes throughout the competition, so there will never be an ounce of boredom."
                }, {
                    title: "Is there a theme for HowdyHack?",
                    desc: "Yes! This year’s theme is “Music”. This is an opportunity for you to come up with the coolest, most technologically savvy hacks relating to music!"
                }, {
                    title: "I don’t know how to code! Can I still participate?",
                    desc: "Don't sweat it! We will have team-forming channels before we kickoff the opening ceremony so everyone will have a group to hack with."
                }, {
                    title: "Will there be companies at the hackathon?",
                    desc: "While there will not be companies present at the hackathon, we will have various workshops throughout the entire event and leading up to it to help you get ready. We’ve got your back!"
                }, {
                    title: "I'm not from A&M, can I still join?",
                    desc: "HowdyHack is only open to students from Texas A&M, including College Station, Galveston, and Qatar campuses. If you're not a Texas A&M student, be on the lookout for TAMUhack, our inter-collegiate Spring hackathon!"
                }, {
                    title: "When is the deadline to apply for HowdyHack?",
                    desc: "The deadline to register is the night before the event, September 4th at 23:59 CDT."
                }, {
                    title: "Have additional questions?",
                    desc: "Email us with any questions, comments, concerns at hello@tamuhack.com."
                }]
              }
          },
          mounted: function () {
            console.log("Init")
          }
        })
    </script>

</body>
</html>
