* {
    outline: none;
}


/* Navbar stuff */

.navbar {
    background-color: #FAFAFA;
    margin: 0!important;
}

.navbar-menu {
    background-color: #FAFAFA;
    width: 100vw;
    float: left;
}

.nav-container {
    position: relative;
    padding-right: 0px !important;
    margin-bottom: 79px;
}

.navbar-toggler {
    border-color: transparent!important;
}

#top-nav-bar {
    z-index: 10000;
    padding-top: 16px;
    padding-bottom: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 78vw;
}

#top-nav-bar .navbar-brand {
    margin-top: -16px;
    margin-left: 30px;
}
