
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

@keyframes pastelRainbow {
    0% {
      background-position: 0% 50%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 50%;  }
}

body {
    position: relative;
    min-height: 700px;
}

.color-page {
    background: linear-gradient(45deg, #00B2E1, #9791B5, #f1658a);
    width: 100%;
    height: calc(100% + 130px);
    position: relative;
    animation: pastelRainbow 15s ease infinite; 
    background-size: 400% 400%;
}

.faq {
    background: linear-gradient(45deg, #f1658a, #9791B5, #00B2E1);
    width: 100%;
    padding-bottom: 100px;
    animation: pastelRainbow 15s ease infinite; 
    background-size: 400% 400%;
    padding-top: 170px;
    position: relative;
}

.footer {
    background-image: url('footerbackground.jpg');
    background-repeat: no-repeat;
    background-position: 0 -500px;
    width: 100%;
    height: 300px;
}

.footer-second {
    background:linear-gradient(45deg, rgba(0, 180, 225, 0.7), rgba(151, 145, 181, 0.7), #f1658a70);
    animation: pastelRainbow 15s ease infinite; 
    background-size: 400% 400%;
    position: relative;
    height: 100%;
    width: 100%;
}

.footer-info {
    padding-top: 109px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.sponsors {
    /* background: linear-gradient(45deg, #00B2E1, #9791B5, #f1658a); */
    background: white;
    width: 100%;
    position: relative;
}

.sponsor-row{
    height: 100%;
    width: 100%;
    text-align: middle;
    color: #00B2E1;
    display: flex;
    justify-content: space-around; /* align horizontal */
    align-items: center;
    padding: 40px;
}


.sponsor-title-row{
    height: 100%;
    width: 100%;
    text-align: middle;
    color: #00B2E1;
    display: flex;
    justify-content: space-around; /* align horizontal */
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}

.sponsor-reg-window{
    height: 100%;
    /* width: 33%; */
    text-align: middle;
    color: #00B2E1;
    /* display: flex; */
    justify-content: center; /* align horizontal */
    align-items: center;
}

.sponsor-big-window{
    height: 100%;
    /* width: 33%; */
    text-align: middle;
    color: #00B2E1;
    /* display: flex; */
    justify-content: center; /* align horizontal */
    align-items: center;
}

 .sponsor-reg-window:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.sponsor-big-window:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.sponsor-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-reg{
    width: 303px;
    padding: 20px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.seprator {
    width: 100%;
    height: 100px;
}

.partner-reg{
    width: 220px;
    padding: 20px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sponsor-big{
    width: 450px;
    padding: 20px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom-hr{
    max-width: 210px;
    border: solid 2px black;
}

.sponsor-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 40px;
    margin-bottom: 0px;
}

.sponsor-subtitle {
    font-size: 30px;
    color: #f1658a;
    margin: 40px;
}

.divider {
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url('skyline-02.png');
    background-repeat: repeat-x;
    pointer-events:none;
}

.divider-faq {
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url('skyline-02.png');
    background-repeat: repeat-x;
}


.divider-flip {
    height: 219px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-image: url('skyline-flip.png');
    background-repeat: repeat-x;
    z-index: 20;
}

#header {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#volunteering-header {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper {
	background-color: white;
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
#about {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#section2-box{
	width: 900px;
	height: 200px;
	border: 1px solid white;
	box-sizing: border-box;
    background-color: white;
    margin: 20px;
}

#section1-box{
    max-width: 900px;
    box-sizing: border-box;
    background: #00B2E1;
    min-height: 200px;
    padding: 8px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    height: 100%;
    width: 30%;
    text-align: middle;
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.right-section {
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    font-size: 19px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stat-head{
    flex: 1;
    font-size: 4em;
}
.stat-sub{
    flex: 2;
    font-size: 2em;
}
#stat-box{
    max-width: 900px;
    box-sizing: border-box;
    background: white;
    height: 200px;
    padding: 8px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infinity{
    flex: 1;
    height: 6em;
    width: 6em;
    fill: #00B2E1;
}

.stat-window {
    height: 100%;
    width: 33%;
    text-align: middle;
    color: #00B2E1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.section-content {
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
}

#why-go {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    display: block;
    margin: auto;
}

.no-margin{
    /* margin-top: 0px !important;
    margin-bottom: 0px !important; */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#dates {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
    font-size: 40px;
    text-align: center; 
    margin-bottom: 50px;
}

#apps-closed {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    font-size: 20px;
    text-align: center; 
    margin-bottom: 50px;
}

#volunteering-dates {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
    font-size: 40px;
    text-align: center; 
    margin-bottom: 50px;
}

#volunteering-text {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    /* margin-top: 20px; */
    font-size: 40px;
    text-align: center; 
    /* margin-bottom: 50px; */
}

#sub-header-text {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
    font-size: 40px;
    text-align: center; 
}

#dates-on-white {
	color: #F06589;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 20px;
	font-size: 40px;
	text-align: center; 
}

.applications_closed {  
    padding : 20px;
}

.email-sign-up-field{
    width: 100%;
    color: #fff;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box;
    outline: 0;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.email-sign-up-field::placeholder {
    color: #EEE;
    margin-left: 0px;
}

.email-sign-up-field::-moz-selection { /* Code for Firefox */
  color: white;
  background: #fff;
}

.email-sign-up-field::selection {
    color: white;
    background: #fff;
}

.email-sign-up-button{

    padding: 12px 20px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid #fff;
    font-size: 23px;
    font-weight: 100;
    color: #FFF;
    white-space: nowrap;
    letter-spacing: .025em;
    text-decoration: none;
    width: 250px;
    margin:auto;
    height: 70px;
    position: relative;
    z-index: 999999;
}

.email-sign-up-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border: 1.5px solid #fff;
}

#button {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid #fff;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    white-space: nowrap;
    letter-spacing: .025em;
    text-decoration: none;
    margin: 20px;
}

form {
    position: relative;
}

form div {
    position:absolute;
    top:0;
    left:25%;
    height: 70px;
    width: 250px;
    overflow: hidden;
    margin: auto;
    z-index: -999;
    opacity: 0;
}

.formappear {
    animation: textFieldAppear 0.3s forwards;
}

.signup-input {
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: 1.5px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding-right: 130px;
    padding-left: 5px;
}

form div.active {
    left:0;
}

.signup-submit {
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin:0;
    top:0;
    right:0;
    border: none;
    font-size: 30px;
    z-index: 5;
}

textarea:focus, input:focus{
    outline: none;
}

@keyframes buttonDisappear {
    from {
        opacity: 1;
        width: 250px;
        z-index: 1;
    }
    to {
        opacity: 0;
        width: 100%;
        z-index: -999;
    }
}

@keyframes textFieldAppear {
    from {
        opacity: 0;
        width: 250px;
        z-index: -999;
        left: 25%;
    }
    to {
        opacity: 1;
        width: 100%;
        z-index: 1;
        left: 0%
    }
}

.section {
    background-color: red;
    width: 100%;
    height: 50%;
}

.question {
    background: transparent;
    box-sizing: border-box;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}

.question-right{
}
.question-left{
}


.inner-question {
    background: white;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.a {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    min-width: 405px;
    max-width: 405px;
    font-weight: bold;
    font-size: 25px;
}

.q {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    max-width: 405px;
    font-size: 20px;
}

.s {
    margin-left: auto !important;    
    margin-right: auto !important;
    margin-top: 10px;
    min-width: 405px;
    max-width: 405px;
    font-size: 20px;
}

.s-time {
    font-weight: bolder;
    padding-right: 50px;
}

.spacing-faq-schedule {
    margin: 50px;
}

td {
    text-align: left;
    padding: 6px;
}

.blue {
    color: #00B2E1;
}

.purple {
    color: #9791B5;
}

.red {
    color: #f1658a;
}