<!DOCTYPE html>
<html lang="en">
  <!--BEGIN Metadata-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="TAMUhack"/>
    <meta property="og:image" content="https://tamuhack.com/static/assets/ogimage.jpg"/>
    <meta property="og:url" content="https://tamuhack.com"/>
    <meta property="og:description"
          content="At TAMUhack, teams spend the weekend working on 
          innovative software and hardware solutions to real-world problems in a community full of mentorship."/>
    <link
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/assets/th-favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/app.css" />
    <title>TAMUhack</title>
  </head>
  <!--END Metadata-->

  <body>
    <!--BEGIN Navbar-->
    <div class="nav-container container">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="top-nav-bar">
        <a class="navbar-brand" href="#">
          <img src="/static/assets/th_logo.svg" class="th-logo" alt="" />
          <img
            src="/static/assets/tamuhack.svg"
            class="th-text-logo"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          id="hamburger"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav main-nav-ui">
            <li class="nav-item">
              <a class="nav-link" href="#what-we-do">what we do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#our-community">our community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#past-iterations">past iterations</a>
            </li>
            <li class="nav-item" style="padding-right: 0px;">
              <a class="nav-link" href="#our-team">our team</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!--END Navbar-->
    <!--BEGIN Header-->
    <header>
      <img
        src="/static/assets/tamuhacfull_k.svg"
        class="tamuhack-title"
        id="good-morning-trigger"
        style="cursor: pointer; z-index: 10"
      />
      <div class="backdrop-container">
        <img
          src="/static/assets/buildings-filled.svg"
          class="backdrop"
        />
      </div>
      <object
        id="plane"
        data="/static/assets/plane.svg"
        type="image/svg+xml"
      ></object>
      <object
        id="sun"
        class="spinning-element"
        data="/static/assets/sun.svg"
        type="image/svg+xml"
      ></object>
      <object
        id="good-morning"
        class="spinning-element"
        data="/static/assets/hh-assets/goodmorning.svg"
        type="image/svg+xml"
      ></object>
      <div id="side-to-side">
        <object
          id="cloud-left"
          data="/static/assets/cloud1.svg"
          type="image/svg+xml"
        ></object>
        <object
          id="cloud-right"
          data="/static/assets/cloud2.svg"
          type="image/svg+xml"
        ></object>
        <object
          id="blimp-right"
          data="/static/assets/blimp.svg"
          type="image/svg+xml"
        ></object>
      </div>
    </header>
    <!--END Header-->

    <!--BEGIN Main-->
    <!--BEGIN What We Do Section-->
    <section id="what-we-do-container">
      <img
        src="/static/assets/fancy-squiggle.svg"
        alt=""
        class="fancy-squiggle"
      />
      <span id="what-we-do" class="goto"> &nbsp; </span>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>WHAT WE DO</h1>
            <p class="emphasize">
              <span>"Hack"</span>
              in hackathon is used to describe how technology can be used in
              new and innovative ways.
            </p>
            <br />
            <p>
              At TAMUhack, teams spend the weekend working on innovative
              software and hardware solutions to real-world problems in a
              community full of mentorship.
            </p>
            <p>
              We’ll provide you with all the resources and mentors you need to
              work on something cool. You’ll have the freedom to create a
              product, learn new skills or just have fun working on a project
              with friends. We’ll also provide all the free food and free
              swag—just be sure to bring plenty of resumes for all of the
              awesome sponsors and mentors you’ll meet!
            </p>
          </div>
          <div class="col-md-1 .d-none .d-sm-block"></div>
          <div class="col-md-5 .d-none .d-sm-block">
            <div class="d-none d-md-block d-print-block img-container2">
              <img
                src="/static/assets/th_faded.svg"
                class="img-fluid special-image th-faded"
              />
            </div>
          </div>
        </div>
        <br/>
      </div>
    </section>
    <!--END What We Do Section-->

    <!--BEGIN Overview Section-->
    <section id="events-overview">
      <div class="triangle-container">
        <img
          src="/static/assets/triangle_2.svg"
        />
      </div>
      <div class="container">
        <div class="row" id="three-cols">

          <!--BEGIN Column-->
          <div class="col-lg-4">
            <img src="/static/assets/howdyhack_official_logo.svg" />
            <h1>HowdyHack</h1>
            <p class="custom-p-text">
              Our themed hackathon in the fall semester, created for Aggies by
              Aggies
            </p>
            <br/>
            <p>
              <a class="btn btn-primary hh-button" href="/hh" role="button"
                >Visit HowdyHack 2019</a
              >
            </p>
          </div>
          <!--End Column-->

          <!--BEGIN Column-->
          <div class="col-lg-4">
            <img src="/static/assets/tbbb.svg" />
            <h1>TAMUhack</h1>
            <p class="custom-p-text">
              One of the largest annual hackathons in Texas, hosted at Texas
              A&M University
            </p><br>
            <p>
              <a
                class="btn btn-primary tamu-button"
                href="https://tamuhack.com"
                role="button"
                >Visit TAMUhack 2019</a
              >
            </p>
          </div>
          <!--End Column-->

          <!--BEGIN Column-->
          <div class="col-lg-4">
            <img src="/static/assets/_.svg" />
            <h1>Workshops</h1>
            <p class="custom-p-text">
              We also host workshops each semester to help you learn the
              latest tech
            </p><br>
            <p>
              <a class="btn btn-primary disabled" href="#" role="button"
                >See our workshops</a
              >
            </p>
          </div>
          <!--End Column-->

        </div>
      </div>
    </section>

    <!--BEGIN Our Community Section-->
    <section id="our-community-container">
      <div style="text-align: center">
        <img
          src="/static/assets/Vector 2.7.svg"
          class="custom-triangle-thing"
        />
      </div>
      <div class="container">
        <div class="container inner-container">
          <span id="our-community" class="goto"> &nbsp; </span>
          <h1>THE TAMUHACK COMMUNITY</h1>
          <div class="content-container">
            <p class="custom-p-text">
              Stay connected! Sign up for our mailing list for events,
              updates, and more.
            </p>
            <!--BEGIN Email Form-->
            <form class="form" action="/" id="email-form">
              <div class="input-group mb-3" id="before">
                <input
                  name="email"
                  type="text"
                  class="form-control"
                  placeholder="Enter your email here..."
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                  id="email"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary signup-button"
                    type="submit"
                  >
                    Sign Up
                  </button>
                </div>
              </div>
              <div
                class="alert alert-danger form-message"
                role="alert"
                id="u_failed"
              >
                Email was not accepted. Try again!
              </div>
              <div
                class="alert alert-success form-message"
                role="alert"
                id="after"
              >
                All good! Expect to hear back from us soon!
              </div>
            </form>
            <!--END Email Form-->
          </div>
        </div>
      </div>
    </section>
    <!--END Our Community Section-->

    <img
      src="/static/assets/fancy-squiggle-two.svg"
      class="fancy-squiggle-2"
    />
    <!--END Main Section-->

    <!--Beginn -->
    <section id="past-iterations-container" class="container">
      <span id="past-iterations" class="goto"> &nbsp; </span>
      <h1>PAST ITERATIONS</h1>
      <br />

      <!--BEGIN Fullsize Timeline-->
      <div id="timeline-full" class="d-none d-md-block d-print-block">
        <div class="container">

          <!--BEGIN Timeline Block-->
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="arrow-left"></div>
            <div class="timeline-content">
              <h2>HowdyHack 2018</h2>
              <p class="custom-p-text">The first iteration of HowdyHack.</p>
            </div>
          </div>
          <!--END Timeline Block-->

          <!--BEGIN Timeline Block-->
          <div class="timeline-block timeline-block-left">
            <div class="marker-2"></div>
            <div class="arrow-right"></div>
            <div class="timeline-content">
              <h2>TAMUhack 2018</h2>
              <p class="custom-p-text">
                Switching from a Fall hackathon to a Spring hackathon
              </p>
            </div>
          </div>
          <!--END Timeline Block-->

          <!--BEGIN Timeline Block-->
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="arrow-left"></div>
            <div class="timeline-content">
              <h2>TAMUhack 2016</h2>
              <p class="custom-p-text">
                Polka dots and pastels make their first appearance.
              </p>
            </div>
          </div>
          <!--END Timeline Block-->

          <!--BEGIN Timeline Block-->
          <div class="timeline-block timeline-block-left">
            <div class="marker-2"></div>
            <div class="arrow-right"></div>
            <div class="timeline-content">
              <h2>TAMUhack 2015</h2>
              <p class="custom-p-text">
                New location, new design, we’re making things bigger
              </p>
            </div>
          </div>
          <!--END Timeline Block-->

          <!--BEGIN Timeline Block-->
          <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="arrow-left"></div>
            <div class="timeline-content">
              <h2>TAMUhack 2014</h2>
              <p class="custom-p-text">
                Started from the bottom now we’re here.
              </p>
            </div>
          </div>
          <!--END Timeline Block-->

        </div>
      </div>
      <!--END Fullsize Timeline-->

    <!--BEGIN Small Timeline-->
    <div id="timeline-small" class="d-block d-none d-sm-block d-md-none ">
      <div class="container">
        
        <!--BEGIN Timeline Block-->
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="arrow-left"></div>
          <div class="timeline-content">
            <h2>HowdyHack 2018</h2>
            <p class="custom-p-text">The first iteration of HowdyHack.</p>
          </div>
        </div>
        <!--END Timeline Block-->

        <!--BEGIN Timeline Block-->
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="arrow-left"></div>
          <div class="timeline-content">
            <h2>TAMUhack 2018</h2>
            <p class="custom-p-text">
              Switching from a Fall hackathon to a Spring hackathon
            </p>
          </div>
        </div>
        <!--END Timeline Block-->

        <!--BEGIN Timeline Block-->
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="arrow-left"></div>
          <div class="timeline-content">
            <h2>TAMUhack 2016</h2>
            <p class="custom-p-text">
              Polka dots and pastels make their first appearance.
            </p>
          </div>
        </div>
        <!--END Timeline Block-->

        <!--BEGIN Timeline Block-->
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="arrow-left"></div>
          <div class="timeline-content">
            <h2>TAMUhack 2015</h2>
            <p class="custom-p-text">
              New location, new design, we’re making things bigger
            </p>
          </div>
        </div>
        <!--END Timeline Block-->

        <!--BEGIN Timeline Block-->
        <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="arrow-left"></div>
          <div class="timeline-content">
            <h2>TAMUhack 2014</h2>
            <p class="custom-p-text">Started from the bottom now we’re here.</p>
          </div>
        </div>
        <!--END Timeline-->
      </div>
    </div>
    <!--END Small Timeline-->
  </section>

  <!--BEGIN Our Team Section-->
  <section id="our-team-container" class="container">
    <span class="extra-margin">&nbsp;</span>
    <span id="our-team" class="goto"> &nbsp; </span>
    <h1>THE TAMUHACK TEAM</h1>
    <p class="custom-p-text">
      Our team consists of 19 members all dedicated to helping you turn your
      ideas into reality. We're a diverse group of computer science,
      electrical, and mechanical engineering majors who brought our passions
      together to bring you a space for creative expression!
    </p>
    <br/>
    <br/>
    <div class="row" id="img-grid">

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/sophia.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sophia Lee</h5>
          <p class="card-text card-subtitle">President/Logistics Director</p>
          <h5 class="card-text card-links">
            <a href="https://www.github.com/sophialee0416">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/sophialee0416/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/suvedh.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Suvedh Srikanth</h5>
          <p class="card-text card-subtitle">Finance Director</p>
          <h5 class="card-text card-links">
            <a href="https://www.github.com/suvedhs/">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/suvedh-srikanth/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/grace.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Grace Fan</h5>
          <p class="card-text card-subtitle">Creative Director</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/gracekfan">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/gracekfan">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/aman.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Aman Gottumukkala</h5>
          <p class="card-text card-subtitle">Tech Mentor</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/amangotchu">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/amangotchu/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/derek.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Derek Li</h5>
          <p class="card-text card-subtitle">Hardware Mentor</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/derektli97">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://linkedin.com/in/derek-li-4910/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/addison.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Addison Maupin</h5>
          <p class="card-text card-subtitle">Finance Mentor</p>
          <h5 class="card-text card-links">
            &nbsp;
            <a href="https://www.linkedin.com/in/addison-maupin-73a394131/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/anthony.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Anthony Teo</h5>
          <p class="card-text card-subtitle">Design</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/eightants">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/anthonyteo/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/gabriel.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Gabriel Britain</h5>
          <p class="card-text card-subtitle">Tech</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/SaltyQuetzals">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/gabriel-britain-57523214b">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/reuben.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Reuben Tadpatri</h5>
          <p class="card-text card-subtitle">Logistics</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/rstadpatri">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/reuben-tadpatri-9baab214b/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/ledet.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Ledet Awano</h5>
          <p class="card-text card-subtitle">Finance</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/ledet2020">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a  href="https://www.linkedin.com/in/ledet-awano/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/jonathan.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Jonathan Innis</h5>
          <p class="card-text card-subtitle">Design &amp; Tech</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/jonathan-innis">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/jonathan-innis-87581312a/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/cameron.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Cameron Coffey</h5>
          <p class="card-text card-subtitle">Tech</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/cameron3301">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/cameron-coffey-0018b614a">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/marissa.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Marissa Soria</h5>
          <p class="card-text card-subtitle">Logistics</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/soriamarissa">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/marissa-soria-233b8914b/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/humza.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Humza Jaffri</h5>
          <p class="card-text card-subtitle">Finance</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/HumzaJaffri">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/humza-jaffri-b5089299/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/maggieV.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Maggie von Ebers</h5>
          <p class="card-text card-subtitle">Finance</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/mx60s">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/maggie-v">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/nathan.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Nathan Reddy</h5>
          <p class="card-text card-subtitle">Tech</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/onewebdev">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/nathan-r-profile/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/maggieP.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Meghana Pothugunta</h5>
          <p class="card-text card-subtitle">Logistics</p>
          <h5 class="card-text card-links">
            &nbsp;
            <a href="https://www.linkedin.com/in/meghana-pothugunta-7161a8183/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/roesha.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Roesha Nigos</h5>
          <p class="card-text card-subtitle">Finance</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/roeshanigos">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/roeshanigos/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card-->

      <!--BEGIN Card-->
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <img
          class="card-img-top"
          src="/static/assets/headshots/aryan.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Aryan Shetty</h5>
          <p class="card-text card-subtitle">Tech &amp; Logistics</p>
          <h5 class="card-text card-links">
            <a href="https://github.com/aryanshetty711">
              <i class="fab fa-github"></i>
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/in/aryan-shetty-860717148/">
              <i class="fab fa-linkedin"></i>
            </a>
          </h5>
        </div>
      </div>
      <!--END Card -->

    </div>
  </section>
  <!--END Our Team Section-->
  <br />
  <br />

  <!--BEGIN Footer-->
  <footer class="container">
    <nav class="navbar navbar-expand-lg navbar-light" id="bottom-nav-bar">
      <div class="collapse navbar-collapse" id="navbarText">
        
        <!--BEGIN Brand Container-->
        <ul class="navbar-nav main-nav-ui mr-auto brand-container">
          <li class="nav-item">
            <div class="navbar-brand" href="#">
              <img src="/static/assets/tamuhack_official_logo.svg"/>
            </div>
          </li>
        </ul>
        <!--END Brand Container-->

        <!--BEGIN Main Container-->
        <ul class="navbar-nav main-nav-ui mr-auto main-container">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/tamuhack-org/">collaborate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:sponsor@tamuhack.com">sponsor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:hello@tamuhack.com">email</a>
          </li>
        </ul>
        <!--END Main Container-->

        <!--BEGIN Links Container-->
        <ul class="navbar-nav main-nav-ui mr-auto links-container">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/tamuhack/">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/tamuhack/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/tamuhack">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
        <!--END Links Container-->
        
      </div>
    </nav>

    <!--BEGIN Smaller Links Container-->
    <div class="custom-nav d-lg-none d-xl-none small-links-container">
      <img src="/static/assets/tamuhack_official_logo.svg"/>
      <div class="nice-text small-links-wrapper">
        <a class="nav-link small-link" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="nav-link small-link" href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="nav-link small-link" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <br/>
    </div>
    <!--END Smaller Links Container-->

    <!--BEGIN Small Nav Container-->
    <div class="small-nav-container">
      <nav class="nav nav-pills nav-justified d-lg-none d-xl-none">
        <a class="nav-item nav-link" href="https://github.com/tamuhack-org">
          <span>COLLABORATE</span>
        </a>
        <a class="nav-item nav-link" href="mailto:sponsor@tamuhack.com">
          <span>SPONSOR</span>
        </a>
        <a class="nav-item nav-link" href="mailto:hello@tamuhack.com">
          <span>EMAIL</span>
        </a>
      </nav>
    </div>
    <!--END Small Nav Container-->

  </footer>
    <!--BEGIN Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
    async
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
    async
  ></script>
  <script src="/static/scripts/main.js"></script>
  <!--END Scripts-->
  </body>
</html>
