<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <link rel="stylesheet" type="text/css" href="/static/fonts.css" >
      <link rel="stylesheet" type="text/css" href="/static/landing.css">
      <link rel="stylesheet" href="/static/app.css">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto:500" rel="stylesheet">
   </head>
   <body style="font-family: Questrial; display: block; width: 100vw; height: 100vh; max-width: 100vw;">
      <div style="width: 100%; height: 100%; max-width: 100vw; max-height: 100vh; display: flex; flex-direction: column;">
         <div id="navbar" class="ui borderless top secondary pointing fixed menu">
            <div id="navlogo">
               <object id="th" data="/static/assets/th.svg" type="image/svg+xml"></object>
               <object id="help" data="/static/assets/help.svg" type="image/svg+xml"></object>
            </div>
            <div id="navitems">
               <a style="margin-right: 50px;" id="activenav" class="item">WHAT WE DO</a>
               <a style="margin-right: 50px;" class="item">PAST ITERATIONS</a>
               <a style="margin-right: 50px;" class="item">OUR TEAM</a>
               <a style="margin-right: 70px;" class="item">OUR COMMUNITY</a>
            </div>
         </div>
         <object id="plane" data="/static/assets/plane.svg" type="image/svg+xml"></object>
         <object id="swoosh" data="/static/assets/swoosh.svg" type="image/svg+xml"></object>
         <object id="acadbuild" data="/static/assets/academic_building.svg" type="image/svg+xml"></object>
         <object id="blimp" data="/static/assets/blimp.svg" type="image/svg+xml"></object>
         <object id="tamuhacklogo" data="/static/assets/tamuhack_logo.svg" type="image/svg+xml"></object>
         <object id="tower" data="/static/assets/tower.svg" type="image/svg+xml"></object>
         <object id="sun" data="/static/assets/sun.svg" type="image/svg+xml"></object>
         <object id="cloud1" data="/static/assets/cloud1.svg" type="image/svg+xml"></object>
         <object id="cloud2" data="/static/assets/cloud2.svg" type="image/svg+xml"></object>
         <!-- <object id="cloud3" data="assets/cloud3.svg" type="image/svg+xml"></object> -->
         <object id="cloud4" data="/static/assets/cloud4.svg" type="image/svg+xml"></object>
      </div>
      <div class="one-screen-size-wrapper" style="background-color: white;">
      <div style="padding-top: 50px;">
         <div class="smaller-container">
            <div class="word-wrapper-v1" style="max-width: 750px">
               <h2 class="sub-header">WHAT WE DO</h2>
               <span style="color: #FF7C93;"><strong>"Hack"</strong></span>
               in hackathon is used to describe how technology can be used in new and innovative ways.
            </div>
         </div>
      </div>
      <div class="text-hero" style="padding-top: 100px;">
         <h2 class="sub-header">TAMUhack 2019</h2>
         <div class="word-wrapper-v1" style="max-width: 750px">
            One of the largest annual hackathons in Texas, hosted at Texas A&amp;M University
         </div>
         <center>
            <button class="hero-button" style="background-color: #639ACB;">
            Visit TAMUhack 2019
            </button>
         </center>
      </div>
      <div class="three-fourth-screen-size-wrapper" style="background-color: #FFEAEE">
         <center>
            <img src="/static/assets/triangle_2.svg" class="custom-triangle-thing">
         </center>
         <div class="text-hero" style="padding-top: 100px;">
            <h2 class="sub-header">HowdyHack 2019</h2>
            <div class="word-wrapper-v1" style="max-width: 750px">
               Our themed hackathon in the fall semester created for Aggies by Aggies
            </div>
            <center>
               <button class="hero-button" style="background-color: #3E678C;">
               Visit HowdyHack 2019
               </button>
            </center>
         </div>
      </div>
      <div class="three-fourth-screen-size-wrapper" style="background-color: #FFDCE4">
         <center>
            <img src="/static/assets/triangle.svg" class="custom-triangle-thing">
         </center>
         <div class="text-hero" style="padding-top: 100px;">
            <h2 class="sub-header">Workshops</h2>
            <div class="word-wrapper-v1" style="max-width: 750px">
               In addition to hackathons, we host workshops each semester to help you learn new stuff!
            </div>
            <center>
               <button class="hero-button" style="background-color: #273954;">
               See our workshops
               </button>
            </center>
         </div>
      </div>
      <img src="/static/assets/fancy-squiggle-two.svg" style="width: 100vw;" alt="">
      <h2 class="sub-header" style="text-align: center;">PAST ITERATIONS</h2>
      <div class="timeline">
         <div class="container left">
            <div class="content">
               <h2>HowdyHack 2018</h2>
               <p>The first iteration of HowdyHack</p>
            </div>
         </div>
         <div class="container right">
            <div class="content">
               <h2>TAMUhack 2018</h2>
               <p>Switching from a Fall hackathon to a Spring hackathon</p>
            </div>
         </div>
         <div class="container left">
            <div class="content">
               <h2>TAMUhack 2016</h2>
               <p>Polka dots and pastels make their first appearance</p>
            </div>
         </div>
         <div class="container right">
            <div class="content">
               <h2>TAMUhack 2015</h2>
               <p>New location, new design, we’re making things bigger!</p>
            </div>
         </div>
         <div class="container left">
            <div class="content">
               <h2>TAMUhack 2014</h2>
               <p>Started from the bottom now we’re here</p>
            </div>
         </div>
      </div>
      <div class=""  style="max-width: 1200px; margin: 0px auto; margin-top: 100px;">
         <div class="ui four column grid">
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/sophia.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Sophia Lee</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">President/Logistics Director</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/sophialee0417">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://www.github.com/sophialee0416">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/maggieV.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Maggie von Ebers</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/maggie-v">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/mx60s">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/grace.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Grace Fan</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Creative Director</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/gracekfan">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/gracekfan">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/gabriel.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Gabriel Britain</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Tech</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/gabriel-britain-57523214b">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/SaltyQuetzals">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/suvedh.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Suvedh Srikanth</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance Director</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/suvedh-srikanth/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://www.github.com/suvedhs/">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="assets/headshots/kevin.jpg">
               </div>
               <div class="content">
               <h2 style="text-align: center; margin: 5px 0 0 0;">Kevin J Nguyen</h2>
               <h3 style="text-align: center; margin: 5px 0 0 0;">[Some Title]</h3>
               <h3 style="text-align: center; margin: 5px 0 0 0;">
               <a href="https://www.linkedin.com/in/kevinj97">
               <i class="linkedin icon"></i>
               </a>
               <a href="https://github.com/kevinjnguyen">
               <i class="github icon"></i>
               </a>
               </h3>
               </div> -->
            <!-- <div class="extra content">
               </div> -->
            <!-- </div>
               </div> -->
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/roesha.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Roesha Nigos</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/roeshanigos/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/roeshanigos">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="assets/headshots/jusung.jpg">
               </div>
               <div class="content">
               <h2 style="text-align: center; margin: 5px 0 0 0;">Jusung Lee</h2>
               <h3 style="text-align: center; margin: 5px 0 0 0;">[Some Title]</h3>
               <h3 style="text-align: center; margin: 5px 0 0 0;">
               <a href="https://www.linkedin.com/in/jusunglee">
               <i class="linkedin icon"></i>
               </a>
               <a href="https://github.com/jusunglee">
               <i class="github icon"></i>
               </a>
               </h3>
               </div> -->
            <!-- <div class="extra content">
               </div> -->
            <!-- </div>
               </div> -->
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/maggieP.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Meghana Pothugunta</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Logistics</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/meghana-pothugunta-7161a8183/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/anthony.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Anthony Teo</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Design</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/anthonyteo/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/eightants">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/nathan.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Nathan Reddy</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Tech</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://github.com/onewebdev">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/nathan-r-profile/">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/jonathan.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Jonathan Innis</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Design &amp; Tech</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/jonathan-innis-87581312a/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/jonathan-innis">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/aman.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Aman Gottumukkala</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Tech Mentor</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/amangotchu/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/amangotchu">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/marissa.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Marissa Soria</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Logistics</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/marissa-soria-233b8914b/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/soriamarissa">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/ledet.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Ledet Awano</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/ledet-awano/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/ledet2020">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/humza.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Humza Jaffri</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/humza-jaffri-b5089299/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/HumzaJaffri">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/cameron.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Cameron Coffey</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Tech</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/cameron-coffey-0018b614a">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/cameron3301">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/derek.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Derek T. Li</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Hardware Mentor</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://linkedin.com/in/derek-li-4910/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/derektli97">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/aryan.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Aryan Shetty</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Tech & Logistics</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/aryan-shetty-860717148/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/aryanshetty711">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/reuben.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Reuben Tadpatri</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Logistics</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/reuben-tadpatri-9baab214b/">
                        <i class="linkedin icon"></i>
                        </a>
                        <a href="https://github.com/rstadpatri">
                        <i class="github icon"></i>
                        </a>
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <div class="column">
               <div class="ui fluid card">
                  <div class="image">
                     <img src="/static/assets/headshots/addison.jpg">
                  </div>
                  <div class="content">
                     <h2 style="text-align: center; margin: 5px 0 0 0;">Addison Maupin</h2>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">Finance Mentor</h3>
                     <h3 style="text-align: center; margin: 5px 0 0 0;">
                        <a href="https://www.linkedin.com/in/addison-maupin-73a394131/">
                        <i class="linkedin icon"></i>
                        </a>
                        <!-- <a href="https://github.com/rstadpatri">
                        <i class="github icon"></i>
                        </a> -->
                     </h3>
                  </div>
                  <!-- <div class="extra content">
                     </div> -->
               </div>
            </div>
            <!-- <div class="column">
               <div class="ui fluid card">
               <div class="image">
               <img src="/images/avatar/large/elliot.jpg">
               </div>
               <div class="content">
               <a class="header">Elliot Fu</a>
               </div>
               </div>
               </div> -->
         </div>
      </div>
   </body>
</html>
