<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="../static/assets/th-2018/favicon-03.png">

    <title>TAMUhack</title>
    <meta property='og:image' content='../static/assets/th-2018/fb.jpg' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/th-2018/style.css">
</head>

<body>
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000"
        href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=gray"
        target="_blank">
        <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2017 Hackathon Season"
            style="width:100%">
    </a>


    <div class="color-page">
        <div id="header">
            <img id="logo" src="../static/assets/th-2018/th_logo_color_fill.svg" width="450em" height="450em">
            <div id="dates">January 27th - 28th, 2018</div>
            <a href="https://www.facebook.com/media/set/?set=a.1187251544739588.1073741832.452096011588482&type=1&l=677e7fc153" target="_blank" style="text-decoration: none;">
                <button class="email-sign-up-button" type="submit">Photos are here!</button>
            </a>            
            <!-- <div id="apps-closed">And that's a wrap!</div> -->
        </div>
        <div class="divider"></div>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div id="about">
                <div id="stat-box">
                    <div style="color:#9791B5" class="stat-window">
                        <div class="stat-head">600+</div>
                        <div class="stat-sub">Hackers</div>
                    </div>
                    <div style="color:#F06589" class="stat-window">
                        <div class="stat-head">24</div>
                        <div class="stat-sub">Hours</div>
                    </div>
                    <div style="color:#00B2E1" class="stat-window">
                        <img src="../static/assets/th-2018/infinity.svg" id="infinity" alt="Kiwi standing on oval">
                        <!-- <div id="infinity"></div> -->
                        <div class="stat-sub">Possibilities</div>
                    </div>
                </div>
                <div id="section1-box">
                    <div class="left-section">What</div>
                    <div class="right-section">The word "hack" in hackathon is used to describe how multiple technologies can be used together in a
                        new and innovative way e.g. think about “hacking something together”. Teams spend the weekend working
                        on innovative software and hardware solutions to real-world problems in a community full of mentorship.</div>
                </div>
                <div id="section1-box" style="background-color: #9791B5;">
                    <div class="left-section">Why</div>
                    <div class="right-section">We want to help you turn your ideas into reality. You're welcome to come with or without a team. We'll
                        provide you with all the resources and mentors you need to help you work on something cool or learn
                        new skills. You'll have the freedom to create a product, learn new techniques for your future work,
                        or just have fun working on a project with friends.</div>

                </div>
                <div id="section1-box" style="background-color: #F06589;">
                    <div class="left-section">Where</div>
                    <div class="right-section">This year, TAMUhack will be held in the beautiful Memorial Student Center -- the living room of the campus.
                        Come hang out with us and experience why the MSC is one of Texas A&amp;M’s greatest living traditions!
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-flip"></div>
    </div>
    <div class="faq">
        <div class="container">
            <div id="dates-on-white" style="color: white; margin-bottom: 20px">Frequently Asked Questions</div>
            <hr class="custom-hr" style="border: solid 2px white;">
            <div class="row row-no-margin" style="margin:0px; padding:0px;">
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question question-left">
                        <div class="a blue">Who can attend?</div>
                        <div class="q">Any graduate/undergraduate student who is over 18. Regardless of your experience, education, background,
                            or anything else, as long as you are passionate about learning, building, and having fun (even
                            if your preferred editor is nano).
                            <span style="font-weight:bold">NOTE: We are able to admit minors only if they are accompanied by a college student (18+) who
                                is planning on participating in the hackathon. Have additional questions? Email us at
                                <a href="mailto:highschool@tamuhack.com">highschool@tamuhack.com</a>
                            </span>
                        </div>
                    </div>
                    <div class="inner-question question-left">
                        <div class="a purple">How much does it cost?</div>
                        <div class="q">Nothing. Nada. Zilch. It's completely free for all accepted hackers. To make it even better, we'll
                            throw in a ton of swag, food, WiFi, workspaces, and caffeine while you're here.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question">
                        <div class="a red">How much experience do I need?</div>
                        <div class="q">Absolutely zero. We want you here because you have a passion for creating, not because you know how
                            to run MapReduce jobs on 20 Cassandra clusters through a Rails app which is using Node serial
                            to pull coordinates from a Raspberry Pi. Even if you are brand new to programming, this is the
                            perfect opportunity to learn. We’ll have lots of resources including workshops and a bunch of
                            mentors to help beginners get started. There'll also be plenty of people to learn from and help
                            out! All you need to do is ask.
                        </div>
                    </div>
                    <div class="inner-question">
                        <div class="a blue">Tabs or Spaces?
                        </div>
                        <div class="q">Spaces - don't tabs make you practically unhirable?
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-margin" style="margin:0px; padding:0px;">
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question">
                        <div class="a red">How do teams work?</div>
                        <div class="q">Teams can be up to 4 people. It's not necessary to have a team before the event or have one at all.
                            Hacking with friends is more fun though. There will be plenty of time after the opening ceremony
                            at the event to form teams if you don't have one yet.
                        </div>
                    </div>
                    <div class="inner-question">
                        <div class="a blue">Will there be workshops and talks?</div>
                        <div class="q">Of course! We will have workshops running throughout the whole event. Here's the <a href="http://live.tamuhack.com/schedule/">complete schedule</a>.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question">
                        <div class="a purple">How are we selecting who attends?</div>
                        <div class="q">We are looking for novices, experts, and everyone in between. In fact, we aim to have a very diverse
                            set of of hackers. In the end, we are really looking out for people who can show their passion
                            for creation and learning.
                        </div>
                    </div>

                    <div class="inner-question">
                        <div class="a red">What if I want to volunteer?</div>
                        <div class="q">That's awesome! We would love to have you volunteer regardless of your previous experience, major
                            or engineering background. Volunteer sign-ups for 2018 are now closed.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-margin" style="margin:0px; padding:0px;">
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question">
                        <div class="a purple">How should I behave?</div>
                        <div class="q">What a great question! Check out the
                            <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>. Although we're all here to have fun, we do not want to create an unpleasant
                            environment for any hacker.
                        </div>
                    </div>
                    <div class="inner-question">
                        <div class="a red">Will there be hardware available?</div>
                        <div class="q">Yes! In addition to the MLH hardware lab (which includes Oculus Rifts and Leap Motions), we will
                            always have our own custom hardware available.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 question no-margin">
                    <div class="inner-question">
                        <div class="a blue">Travel reimbursements?</div>
                        <div class="q">We will be sending buses to some schools in Texas and will offer gas reimbursements for people driving
                            in. Bus schedules will be released closer to the event. However, we will NOT be offering flight
                            reimbursements this year (sorry!).
                        </div>
                    </div>

                    <div class="inner-question">
                        <div class="a purple">What if I have more questions?</div>
                        <div class="q">Email us with any questions, comments, concerns at
                            <a href="mailto:hello@tamuhack,com">hello@tamuhack.com</a>, or message us
                            <a href="https://m.me/tamuhack" target="_blank">here</a>!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider-faq"></div>
    </div>

    <div class="sponsors">
        <div class="container">
            <div class="sponsor-title-row">
                <div class="sponsor-title" style="color: #f1658a">Sponsors</div>
            </div>
            <hr class="custom-hr" style="border: solid 2px #f1658a">
            <div class="sponsor-row">
                <div class="sponsor-big-window">
                    <a target="_blank" href="https://www.aa.com">
                        <img class="sponsor-big" src="../static/assets/th-2018/img/logos/american_airlines.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.jpmorganchase.com">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/chase.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.google.com/intl/en/about/?fg=1&utm_source=google.com&utm_medium=referral&utm_campaign=hp-header">
                        <img style="width: 270px;" class="sponsor-reg" src="../static/assets/th-2018/img/logos/google.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.microsoft.com">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/microsoft.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://www.southwest.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/southwest.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.facebook.com">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/facebook.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://campus.capitalone.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/capital_one.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://www.accenture.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/accenture.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://www.gs.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/goldman.png" style="width: 170px;" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://www.esri.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/esri.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://www.hbk.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/hbk.png" />
                    </a>
                </div>

                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.parivedasolutions.com">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/pariveda.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.gm.com/">
                        <img class="sponsor-reg" src="../static/assets/th-2018/img/logos/gm.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-title-row">
                <div class="sponsor-title" style="color: #00B2E1">Partners</div>
            </div>
            <hr class="custom-hr" style="border: solid 2px #00B2E1;">
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.gogosqueez.com">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/gogo.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.kindsnacks.com">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/kind.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.highbrewcoffee.com">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/high_brew.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://freebirds.com/">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/freebirds.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="http://chefcaos.com/">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/caos.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.schlotzskys.com/">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/schlotzskys.png" />
                    </a>
                </div>
            </div>
            <div class="sponsor-row">
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.facebook.com/bonappeteatx/">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/bonappetea.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://www.mlh.io">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/mlh-logo.png" />
                    </a>
                </div>
                <div class="sponsor-reg-window">
                    <a target="_blank" href="https://engineering.tamu.edu/cse">
                        <img class="partner-reg" src="../static/assets/th-2018/img/logos/csce-logo.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="divider-flip"></div>
    </div>

    <div class="footer">
        <div class="footer-second">
            <div class="footer-info">
                © Copyright 2018 TAMUhack - All Rights Reserved
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="../static/assets/th-2018/script.js"></script>
</body>

</html>
