<!DOCTYPE html>
<html lang="en">
<!--BEGIN Metadata-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="TAMUhack" />
    <meta property="og:image" content="https://tamuhack.com/static/assets/ogimage.jpg" />
    <meta property="og:url" content="https://tamuhack.com" />
    <meta property="og:description" content="At TAMUhack, teams spend the weekend working on 
          innovative software and hardware solutions to real-world problems in a community full of mentorship." />
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway:300,400,500,700,800&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/assets/th-favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/assets/th-2020/app.css" />
    <title>TAMUhack 2020</title>
</head>
<!--END Metadata-->

<body>
    <!--BEGIN Navbar-->
    <nav class="navbar navbar-expand-md navbar-light" id="top-nav-bar">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/th-2020/th_bw.svg" class="th-logo" alt="" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav main-nav-ui">
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#schedule">SCHEDULE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sponsored-by">SPONSORS</a>
                </li>
            </ul>
        </div>
        <a href="https://mlh.io/seasons/na-2020/events" target="_blank" id="mlh-banner-tag"><img src="/static/assets/th-2020/sns/mlh-banner.svg" id="mlh-banner"></a>
    </nav>
    <!--END Navbar-->
    <!-- Landing -->
    <section id="landing">
        <div id="top-bar"></div>
        <div id="left-bar"></div>
        <div id="right-bar"></div>
        <div id="bottom-bar"></div>
        <div class="bg-wrapper">
            <div class="row align-bottom">
                <div class="col-lg-5">
                    <img src="/static/assets/th-2020/th20-landing-graphic.svg" id="landing-graphic">
                </div>
                <div class="col-lg-7 text-right">
                    <div class="landing-info-wrapper">
                        <div class="header-info">
                            <h4>January 25-26, 2020</h4>
                            <h4>Texas A&M University</h4>
                        </div>
                        <p id="email-tag">Apply to become a volunteer or a mentor!</p>
                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                            <!-- <label for="mce-EMAIL" style="display: none">Email Address </label>
                            <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="required email form-control mr-2" id="mce-EMAIL"> -->
                            <!-- <div id="th-apply"class="clear input-group-append" style="height: 46px; ">
                                <input type="submit" value="APPLY" name="APPLY"
                                        onclick="window.location='https://register.tamuhack.com/';"
                                         style="border-style: none;" 
                                        class="btn btn-outline-secondary signup-button">
                            </div> -->
                            <div id="th-volunteer">
                                <input type="submit" value="VOLUNTEER" name="VOLUNTEER"
                                        onclick="window.location='https://tamuhack.com/volunteer';"
                                         style="border-style: none;" 
                                        class="btn btn-outline-secondary volunteer-button">
                            </div>
                            <div id="th-mentor">
                                <input type="submit" value="MENTOR" name="MENTOR"
                                        onclick="window.location='https://tamuhack.com/mentor';"
                                         style="border-style: none;" 
                                        class="btn btn-outline-secondary mentor-button">
                            </div>
                        <!-- 
                        <form action="https://tamuhack.us9.list-manage.com/subscribe/post?u=ba74e26a78411ab40af6384c5&amp;id=2f4969eb6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="email-form">
                            <div id="mc_embed_signup_scroll">
                            
                            <div class="mc-field-group input-group mb-3">
                                <label for="mce-EMAIL" style="display: none">Email Address </label>
                                <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="required email form-control mr-2" id="mce-EMAIL">
                                <div class="clear input-group-append"><input type="submit" value="SUBMIT" name="submit" id="mc-embedded-subscribe" style="border-style: none;" class="btn btn-outline-secondary signup-button"></div>
                            </div>
                            <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>   
                             <!- -  real people should not fill this in and expect good things - do not remove this or risk form bot signups <!- - 
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ba74e26a78411ab40af6384c5_2f4969eb6d" tabindex="-1" value=""></div>
                            </div>
                        </div>
                        </form>
                         -->
                        </div>
                        <!--End mc_embed_signup-->
                        <!--original placeholder signup form starts here
                        <form class="form" action="/" id="email-form">
                            <div class="input-group mb-3" id="before">
                                <input name="email" type="text" class="form-control mr-2" placeholder="Enter your email..." aria-label="Recipient's username" aria-describedby="basic-addon2" id="email" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary signup-button" type="submit">
                                                    SUBMIT
                                                </button>
                                </div>
                            </div>
                            <div class="alert alert-danger form-message" role="alert" id="u_failed">
                                Email was not accepted. Try again!
                            </div>
                            <div class="alert alert-success form-message" role="alert" id="after">
                                All good! Expect to hear back from us soon!
                            </div>
                        </form>-->
                        <!-- <p id="volunteer-mentor-tag">Become a <a class="volunteer" href="/volunteer">Volunteer</a> or a <a class="mentor" href="/mentor">Mentor</a>!</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Landing-->
    <div class="d-block-sm-none">
        <br><br><br><br><br>
    </div>

    <!-- About -->
    <section class="container-fluid pt-4" id="about">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-4 mb-5">About TAMUhack</h1>
                <p>At TAMUhack, teams spend the weekend working on innovative software and hardware solutions to real-world problems in a community full of mentorship.</p>
                <p>We'll provide you with all the resources and mentors you need to work on something cool. You'll have the freedom to create a product, learn new skills or just have fun working on a project with friends. We'll also provide all the free
                    food and free swag—just be sure to bring plenty of resumes for all of the awesome sponsors and mentors you'll meet! Check them out below!</p>
            </div>
            <div class="col-md-6">
                <img src="/static/assets/th-2020/th20-graphic.svg" alt="TAMUhack logo" id="logo-2020">
            </div>
        </div>
    </section>
    <section class="container-fluid pt-5 pb-5" id="schedule">
        <h1 style="margin: 0px">Schedule</h1>
        <div class="row">
            <div class="col-md-6 mt-5">
                <h3>Saturday</h3>
                <div class="title-underline" style="background-color: #7FC0FA"></div>
                <div class="row">
                    <div class="col-md schedule-item-time">9:00 AM</div>
                    <div class="col-md dot-container">
                        <div class="top-vline vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Doors Open, Check-In Starts</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">11:00 AM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Opening Ceremony</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">11:00 AM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Walk-In Check-In Starts</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">12:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Hacking Begins</div>
                </div>
                <div class="row workshop-event">
                    <div class="col-md schedule-item-time">12:15 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Team Formation</div>
                </div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">1:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Lunch</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">1:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">All Check-In Ends</div>
                </div>
                <div class="row mini-event">
                    <div class="col-md schedule-item-time">1:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Meet & Greet with Miss Reveille</div>
                </div>
                <div class="row workshop-event">
                    <div class="col-md schedule-item-time">1:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Hackathons 101</div>
                </div>
                <div class="row workshop-event">
                    <div class="col-md schedule-item-time">1:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Introduction to Google Cloud Platform</div>
                </div>
                <div class="row workshop-event">
                    <div class="col-md schedule-item-time">2:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Introduction to Contrary Capital Challenge</div>
                </div>
                <div class="row mini-event">
                    <div class="col-md schedule-item-time">6:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">So You Think You Can Fly?</div>
                </div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">7:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Dinner</div>
                </div>
                <div class="row workshop-event">
                    <div class="col-md schedule-item-time">7:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Ladies Storm Hackathon/WiCS Meet-Up</div>
                </div>
                <div class="row mini-event">
                    <div class="col-md schedule-item-time">8:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">MLH Cup Stacking</div>
                </div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">9:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Snack</div>
                </div>
                <div class="row mini-event">
                    <div class="col-md schedule-item-time">10:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="bottom-vline vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Talent Show</div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <h3>Sunday</h3>
                <div class="title-underline" style="background-color: #6F85FB"></div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">12:00 AM</div>
                    <div class="col-md dot-container">
                        <div class="top-vline vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Midnight Snack</div>
                </div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">7:00 AM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Breakfast</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">12:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Hacking Ends</div>
                </div>
                <div class="row food-event">
                    <div class="col-md schedule-item-time">12:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Lunch</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">12:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Submissions Due</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">1:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Judging Expo</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">3:30 PM</div>
                    <div class="col-md dot-container">
                        <div class="vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">Closing Ceremony</div>
                </div>
                <div class="row">
                    <div class="col-md schedule-item-time">5:00 PM</div>
                    <div class="col-md dot-container">
                        <div class="bottom-vline vline"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="col-md schedule-item-title">TAMUhack Ends, Buses Depart</div>
                </div>
                <div class="row">
                <div class="col-md" id="schedule-legend">
                    <div class="legend-item">
                        <div class="legend-dot-container"><div class="legend-dot" style="background-color: #6F85FB"></div></div>
                        <p>Workshop</p>
                    </div>
                    <div class="legend-item">
                        <div class="legend-dot-container"><div class="legend-dot" style="background-color: #FF5482"></div></div>
                        <p>Food</p>
                    </div>
                    <div class="legend-item">
                        <div class="legend-dot-container"><div class="legend-dot" style="background-color: #7FC0FA"></div></div>
                        <p>Mini-Event</p>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </section>
    <section class="container-fluid pt-4" id="faq">
        <h1 class="mb-5">Frequently Asked Questions</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Who can attend?</h4>
                        <div class="title-underline pink mb-pink"></div>
                        <p class="card-text">Any graduate/undergraduate student who is at least 18. Regardless of your experience, education, or background, as long as you are excited about learning, building, and having fun, we’d love for you to attend.</p>
                        <p class="card-text"><b>NOTE</b><br/>We are able to admit minors only if they are accompanied by a college student (18+) who is planning on participating in the hackathon. Have additional questions? Email us at <a href="mailto:highschool@tamuhack.com">highschool@tamuhack.com</a></a>
                        </p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">How much does it cost?</h4>
                        <div class="title-underline purple mb-purple"></div>
                        <p class="card-text">Nothing. Nada. Zilch. It's completely free for all accepted hackers. To make it even better, we'll throw in a ton of swag, food, WiFi, workspaces, and caffeine while you're here.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">How do teams work?</h4>
                        <div class="title-underline pink mb-blue"></div>
                        <p class="card-text">Teams are limited to 4 hackers. You don’t need to have a team before the event or have one at all, but hacking with friends is more fun! There will be plenty of time after the opening ceremony to form teams if you don't have one
                            yet. </p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Do you offer travel reimbursements?</h4>
                        <div class="title-underline purple mb-pink"></div>
                        <p class="card-text">We will be providing gas reimbursement of up to $25 on a case by case basis to those that drive to TAMUhack from outside of College Station. Receipt required.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">What should I bring?</h4>
                        <div class="title-underline pink mb-purple"></div>
                        <p class="card-text">Please bring a valid student ID in addition to anything that would help you with creating your hack or making you comfortable. A laptop, charger, mouse, keyboard, hardware, light jacket, and any hygienic products should be helpful.
                            Don't bring anything you wouldn't bring on an airplane.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Tabs or Spaces?</h4>
                        <div class="title-underline purple mb-blue"></div>
                        <p class="card-text">Spaces&#8212;don't tabs make you practically unhirable?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">How much experience do I need?</h4>
                        <div class="title-underline purple mb-pink"></div>
                        <p class="card-text">Absolutely zero! We want you here because you have a passion for creating, not because you’re the most experienced hacker on the block. We’ll have lots of resources including workshops and a bunch of mentors to help beginners get
                            started. There will also be plenty of people to learn from and help out!</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">How do you select who attends?</h4>
                        <div class="title-underline blue mb-purple"></div>
                        <p class="card-text">We are looking for novices, experts, and everyone in between. In fact, we aim to have a very diverse set of of hackers who can show their passion for creation and learning.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Will there be workshops or talks?</h4>
                        <div class="title-underline purple mb-blue"></div>
                        <p class="card-text">Of course! We will have workshops running throughout the whole event. We will release the complete schedule on the website closer to the event.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">What is your Code of Conduct?</h4>
                        <div class="title-underline blue mb-pink"></div>
                        <p class="card-text">What a great question! Check out the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a>. Although we're all here to have fun, we want to create a safe environment for every hacker.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Are you providing hardware?</h4>
                        <div class="title-underline purple mb-purple"></div>
                        <p class="card-text">Yes! In addition to the MLH hardware lab, we have our own custom hardware available.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Have more questions?</h4>
                        <div class="title-underline blue mb-blue"></div>
                        <p class="card-text">Email us with any questions, comments, concerns at <a href="mailto:hello@tamuhack.com">hello@tamuhack.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid pt-4" id="sponsored-by">
        <h1 class="mb-5">Sponsored By</h1>
        <div class="sponsor-container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <a href="https://jobs.aa.com" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/aa.svg" class="sponsor-logo-lg center" id="aa-logo"></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-12">
                    <a href="https://careers.jpmorgan.com" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/jpmc.svg" class="sponsor-logo-md left" id="jpmc-logo"></a>
                </div>
                <div class="col-md-2 col-6">
                    <a href="https://www.usaajobs.com" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/usaa.svg" class="sponsor-logo-sm center" id="usaa-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.hpe.com/us/en/about/jobs/students.html" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/hpe.svg" class="sponsor-logo-sm right" id="hpe-logo"></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 col-6">
                    <a href="https://www.pwc.com/us/en/careers/search-jobs.html" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/pwc.svg" class="sponsor-logo-sm left" id="pwc-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://jobs.gartner.com" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/gartner.svg" class="sponsor-logo-sm center" id="gartner-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.cbre.com/about/careers" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/cbre.svg" class="sponsor-logo-sm right" id="cbre-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.southwestair.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/southwest.svg" class="sponsor-logo-sm left" id="southwest-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://phillips66.jobs" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/phillips66.svg" class="sponsor-logo-sm center" id="p66-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.bp.com/en/global/corporate/careers.html" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/bp.svg" class="sponsor-logo-sm right" id="bp-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.statefarm.com/careers" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/statefarm.svg" class="sponsor-logo-sm left" id="statefarm-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.credera.com/careers/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/credera.svg" class="sponsor-logo-sm center" id="credera-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.microsoft.com" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/msft.svg" class="sponsor-logo-sm right" id="msft-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.parivedasolutions.com/careers-overview" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/pariveda.svg" class="sponsor-logo-sm left" id="pariveda-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://jobs.exxonmobil.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/exxon.svg" class="sponsor-logo-sm center" id="exxon-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.bakerhughes.com/global/en" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/bakerhughes.png" class="sponsor-logo-sm right" id="bh-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://cloud.google.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/gcp.png" class="sponsor-logo-sm left" id="gcp-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.pathrise.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/pathrise.svg" class="sponsor-logo-sm center" id="pathrise-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://sec.tamu.edu/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/sec.png" class="sponsor-logo-sm right" id="tamu-sec-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.wolfram.com/company/careers/opportunities/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/wolfram.png" class="sponsor-logo-sm left" id="wolfram-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://contrarycap.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/contrary.png" class="sponsor-logo-sm center" id="contrary-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.voiceflow.com/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/voiceflow.png" class="sponsor-logo-sm right" id="voiceflow-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="http://sustainability.tamu.edu/" target="_blank"><img alt="" src="/static/assets/th-2020/sponsor_logos/tamu-sustainability.png" class="sponsor-logo-sm left" id="tamu-sustainability-logo"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid pt-4" id="our-partners">
        <h1 class="mb-5">Our Partners</h1>
        <div class="row align-items-center partner-container">
            <div class="col-md-4 col-6">
                <a href="https://mlh.io/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/mlh.svg" class="sponsor-logo-sm left" id="mlh-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="http://hackp.ac/mlh-stickermule-hackathons" target="_blank"><img alt="" src="/static/assets/th-2020/partners/stickermule.svg" class="sponsor-logo-sm center" id="stickermule-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://ultrapress.com/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/ultrapress.svg" class="sponsor-logo-sm right" id="ultrapress-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://www.botanicalpaperworks.com/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/botanicalpaperworks.svg" class="sponsor-logo-sm left" id="botanicalpaperworks-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://www.kindsnacks.com/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/kind.png" class="sponsor-logo-sm center" id="kind-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://www.gogosqueez.com/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/gogosqueez.png" class="sponsor-logo-sm right" id="gogosqueez-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://mypiada.com/" target="_blank"><img alt="" src="/static/assets/th-2020/partners/piada.png" class="sponsor-logo-sm left" id="piada-logo"></a>
            </div>
            <div class="col-md-4 col-6">
                <a href="https://engineering.tamu.edu/cse/index.html" target="_blank"><img alt="" src="/static/assets/th-2020/partners/tamu_csce.svg" class="sponsor-logo-sm center" id="tamu-csce-logo"></a>
            </div>
        </div>
        <p class="mt-4">Interested in sponsoring? Reach out to us at <a href="mailto:sponsor@tamuhack.com">sponsor@tamuhack.com</a></p>
    </section>
    <div class="black-box"></div>
    <footer>
        <a class="nav-link" href="https://www.facebook.com/tamuhack/" target="_blank">
            <img alt="Facebook social icon" src="/static/assets/th-2020/sns/fb.svg">
        </a>
        <a class="nav-link" href="https://www.instagram.com/tamuhack/" target="_blank">
            <img alt="Instagram social icon" src="/static/assets/th-2020/sns/instagram.svg">
        </a>
        <a class="nav-link" href="https://twitter.com/tamuhack" target="_blank">
            <img alt="Twitter social icon" src="/static/assets/th-2020/sns/twitter.svg">
        </a>
        <a class="nav-link" href="https://www.reddit.com/r/TAMUHack/" target="_blank">
            <img alt="Reddit social icon" src="/static/assets/th-2020/sns/reddit.svg">
        </a>
        <a class="nav-link" href="mailto:hello@tamuhack.com">
            <img alt="Email contact icon" src="/static/assets/th-2020/sns/email.svg">
        </a>
    </footer>
    <!--END Email Form-->
    <!--BEGIN Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async></script>
    <!--END Scripts-->
</body>

</html>
