html,
body {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

.mb-5 {
    margin-bottom: 2.5rem !important;
}

.container-fluid {
    padding-right: calc(10vw + 26px);
    padding-left: calc(10vw + 26px);
    /* Accounts for the logo offset */
    margin: 75px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #FF5482;
}

#mlh-banner {
    position: absolute;
    width: 100px;
    right: calc(10vw - 40px);
    top: 0px;
}


/* Logo Styling */

.th-logo {
    width: 30px;
    height: 30px;
}

.th-text-logo {
    margin-left: 15px;
    margin-top: 6px;
    min-width: 90px;
    opacity: 0.8;
}

.th-faded {
    width: 75%;
    height: auto;
}

#logo-2020 {
    max-width: 500px;
    width: 100%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 50px;
}

#about {
    margin-top: 100px;
}


/*--------------------------------------*/


/* Sponsor Logo Styling */

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.left {
    margin-right: auto !important;
    display: block;
}

.right {
    margin-left: auto !important;
    display: block;
}

.sponsor-container {
    margin: 0px 7.5vw;
}

.sponsor-logo-lg,
.sponsor-logo-md,
.sponsor-logo-sm {
    transition: transform 0.3s ease-in-out;
    margin: 30px 0;
}

.sponsor-logo-lg:hover,
.sponsor-logo-md:hover,
.sponsor-logo-sm:hover {
    transform: scale(1.05);
}

#aa-logo {
    max-width: 600px;
}

#jpmc-logo {
    max-width: 550px;
}

#usaa-logo {
    max-width: 100px;
}

#southwest-logo {
    max-width: 225px;
}

#pwc-logo {
    max-width: 125px;
    margin-top: -20px;
}

#gartner-logo {
    max-width: 150px;
}

#cbre-logo {
    max-width: 125px;
}

#p66-logo {
    max-width: 100px;
}

#bp-logo {
    max-width: 90px;
    margin-top: -5px;
}

#credera-logo {
    max-width: 250px;
}

#msft-logo {
    max-width: 250px;
}

#pariveda-logo {
    max-width: 250px;
}

#tamu-csce-logo {
    max-width: 300px;
}

#ultrapress-logo {
    max-width: 250px;
}

#botanicalpaperworks-logo {
    max-width: 250px;
}

#kind-logo {
    max-width: 125px;
}

#redbull-logo {
    max-width: 200px;
}


/* Top Navigation Section */

.navbar {
    margin: 0!important;
    padding-left: 10vw!important;
    padding-right: 10vw!important;
}

.navbar .nav-item .nav-link {
    font-weight: 700;
}

.navbar .nav-item {
    margin: 0 30px;
}

.nav-container {
    position: absolute;
    padding-right: 0px !important;
    margin-bottom: 79px;
}

.navbar-toggler {
    border-color: transparent!important;
}

#top-nav-bar {
    position: absolute;
    z-index: 10000;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-right: calc(10vw + 80px) !important;
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 78vw;
    width: 100%;
}

#top-nav-bar .navbar-brand {
    margin-top: -16px;
    margin-left: 30px;
}

#top-nav-bar div ul li {
    padding: 0px 10px;
}

#top-nav-bar div a {
    border-bottom: 7px solid transparent;
    color: black!important;
}

#top-nav-bar div .main-nav-ui li>a {
    text-transform: uppercase;
    color: black!important;
}

#top-nav-bar div .main-nav-ui li>a:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 black inset, 0 -6px 0 0 black inset;
}


/*--------------------------------------*/


/* Landing Section */

#email-tag {
    font-size: 1.3rem;
    font-weight: 500;
}

#email-form input {
    border-radius: 3px;
    border: 1px solid #AAAAAA;
}

#landing .bg-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: #F8658C;
}

.signup-button {
    background-color: #231F1B;
    border-color: #231F1B;
    color: white;
    font-weight: bolder;
    border-radius: 3px !important;
    padding: 0 40px !important;
}

.form-message {
    display: none;
}

.card {
    padding: 15px;
    border: 1px solid #AAA;
    border-radius: 8px;
}

.card-title {
    margin-bottom: 8px;
    font-weight: 900;
}

.card-title-underline {
    width: 60px;
    height: 9px;
    margin-bottom: 20px;
}


/* Card Underline Coloring */

.col-md-6:nth-of-type(1) .card:nth-of-type(2n) .card-title-underline {
    background-color: #6F85FB;
}

.col-md-6:nth-of-type(1) .card:nth-of-type(2n + 1) .card-title-underline {
    background-color: #FF5482;
}

.col-md-6:nth-of-type(2) .card:nth-of-type(2n) .card-title-underline {
    background-color: #7FC0FA;
}

.col-md-6:nth-of-type(2) .card:nth-of-type(2n+1) .card-title-underline {
    background-color: #6F85FB;
}


/*--------------------------------------*/


/* Button/Form Information */

.btn.btn-primary {
    border: none;
}

.btn.btn-outline-secondary {
    padding: 8px 15px;
}

input.form-control {
    padding: 22px 18px;
}

.tamu-button {
    background-color: #FF7C93 !important;
    border-radius: 4px!important;
}

.tamu-button:hover {
    background-color: #D47082 !important;
}

.hh-button {
    border-radius: 4px!important;
    background-color: #3E678C !important;
}

.hh-button:hover {
    background-color: #2E4D68 !important;
}

footer {
    margin-top: 200px;
    background-color: #F8658C;
    padding: 15px 10vw;
    width: 100%;
}

footer .nav-link {
    display: inline-block !important;
}

footer .nav-link img {
    height: 30px;
}


/*--------------------------------------*/

@media (max-width: 992px) {
    .left,
    .right {
        margin-left: auto;
        margin-right: auto;
    }
    #top-nav-bar {
        padding-right: 10vw !important;
    }
    .sponsor-container {
        margin: 0;
    }
    #logo-2020 {
        margin-top: 10px;
    }
    footer {
        margin-top: 50px;
    }
    #pwc-logo,
    #bp-logo {
        margin-top: 0px;
    }
    #about {
        margin-top: 20px;
    }
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #mlh-banner-tag {
        display: none;
    }
    .th-text-logo {
        opacity: 0;
    }
    .tamuhack-title {
        max-width: 300px;
        top: 30vh;
        transform: translate(-50%, -50%);
    }
    h2 {
        font-size: 1.4rem;
    }
    p {
        font-size: 14px;
    }
    .navbar {
        padding-left: 10px!important;
    }
    #top-nav-bar div ul li {
        padding: 0px 30px;
    }
    .nav-link {
        display: inline-block;
    }
}