html {
  scroll-behavior: smooth;
}

.font-heading {
  font-family: 'Roboto Flex', 'Open Sans';
}

.font-text {
  font-family: 'Open Sans';
}

.bgoffwhite {
  background-color: #FAFAFA;
}

.pink {
  color: #E090BB;
}

.green {
  color: #88BCB7;
}

.navy {
  color: #192F6D;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(200%) translateY(-80px) scale(0.5);
    content:url("../assets/walking.gif");
  }
  99.99% {
    transform: translateX(0) translateY(-80px) scale(0.5);
  }

  100% {
    content:url("../assets/walking.gif");
  }
}

.landingart {
  animation: 5s ease-out 0s 1 slideInLeft;
  transform: translateY(-80px) scale(0.5);
}