html {
  scroll-behavior: smooth;
}

.font-heading {
  font-family: 'Roboto Flex', 'Open Sans';
}

@keyframes slideInLeft {
  0% {
    transform: translateX(200%) translateY(-40px);
  }
  100% {
    transform: translateX(0) translateY(-40px);
  }
}

.landingart {
  animation: 3s ease-out 0s 1 slideInLeft;
  transform: translateY(-40px);
  padding: 40px;
}