<!-- TODO: fix border issues -->
<!-- TODO: implement mobile friendliness -->
<!-- TODO: Change font and add shadows to make schedule look more refined.  -->

<!DOCTYPE html>

<html lang="en">

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />

<style>
    #borderLeft {
        border-bottom: 2px solid #f51c40;
        position: absolute;
        top: 50%;
        bottom: 0;
    }
</style>

<body class="bg-black">
    <div class="flex justify-center w-full">
        <!-- Left bar  -->
        <div class="flex items-center float-right flex-grow">
            <div class=" bg-gray-400 w-full h-1/4"></div>
        </div>
        <!-- Big Sign  -->
        <div class="border-[15px] border-gray-400">
            <p class="text-5xl text-center text-yellow-300 p-9">NOW BOARDING: HOWDYHACK AIRLINES</p> 
        </div>
        <!-- Right Bar -->
        <div class="flex items-center float-right flex-grow">
            <div class=" bg-gray-400 w-full h-1/4"></div>
        </div>
    </div>
    <!-- two small connecting bars -->
    <div class= "flex justify-center w-full h-10">
        <div class="border-x-8 border-gray-400 w-1/2"></div>
    </div>
    <!-- actual schedule  -->
    <div class="flex justify-center">
        <div class="rounded-md border-8 border-gray-400">
            <div>
                <div class="flex float-left bg-yellow-300 w-1/4 px-8 py-4 h-full">
                    <img class = "pr-4" src="plane 1.png" alt="airplane">
                    <h1 class="text-left text-2xl text-black font-semibold">Schedule</h1>
                </div>
                <div class="float-right bg-black w-3/4 h-full">
                    <h1 class="text-right text-2xl text-yellow-300 font-semibold px-8 py-4">Terminal MSC</h1>
                </div>
            </div>
            <table id="app">
                <thead>
                    <tr class="bg-primary text-center">
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            "> 
                            Bay 
                        </th>
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            "> 
                            Time 
                        </th>
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                pl-6
                                lg:pl-8
                                pr-20
                                lg:pr-32
                            "> 
                            Event 
                        </th>
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                pl-20
                                lg:pl-32
                                pr-6
                                lg:pr-8
                                hidden
                                md:table-cell
                            "> 
                            Sponsor 
                        </th>
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                font-semibold
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                                hidden
                                md:table-cell
                            "> 
                            Room 
                        </th>
                        <th 
                            class = 
                            "
                                text-left
                                text-sm
                                font-semibold
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                                hidden
                                md:table-cell
                            "> 
                            Remark 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class = "bg-black text-center" v-for="event in events">
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            ">
                            {{ event.Day }}
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            ">
                            {{ event.Time }}
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-yellow-300
                                pb-1
                                lg:pb-2
                                pl-6
                                lg:pl-8
                                pr-20
                                lg:pr-32
                            ">
                            {{ event.Name }}
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                pl-20
                                lg:pl-32
                                pr-6
                                lg:pr-8
                            ">
                            {{ event.Sponsor }}
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-white
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            ">
                            <div class="text-center">   
                                {{ event.Room }}
                            </div>
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-green-600
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            "
                            v-if="event.Remark == 'On Time' ">
                            {{ event.Remark }}
                        </td>
                        <td 
                            class =
                            "
                                text-left
                                text-sm
                                text-red-600
                                pb-1
                                lg:pb-2
                                px-6
                                lg:px-8
                            "
                            v-else>
                            {{ event.Remark }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<!-- vue script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            schedule_titles: [
                "Bay",
                "Time",
                "Event",
                "Sponsor",
                "Room",
                "Remark"
            ],
            events: [
                {
                    Day: "Saturday",
                    Time: "9:00",
                    Name: "Start!",
                    Sponsor: "HH",
                    Room: "121",
                    Remark: "Delayed"
                },
                {
                    Day: "Saturday",
                    Time: "9:30",
                    Name: "Second Event",
                    Sponsor: "Mateo Inc",
                    Room: "121",
                    Remark: "On Time"
                },
                {
                    Day: "Sunday",
                    Time: "13:00",
                    Name: "End!",
                    Sponsor: "HH",
                    Room: "121",
                    Remark: "On Time"
                }
            ]

        }
    });
</script>
</html>