span {
  font-family: "Questrial" !important;
}

#swoosh {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

#plane {
  position: absolute;
  width: 7%;
  animation: translateplane 5s linear infinite;
  z-index: -1;
}

#blimp {
  position: relative;
  left: 73.7%;
  top: 51.71%;
  width: 3%;
  animation: translateblimp 20s linear infinite;
}

#acadbuild {
  display: flex;
  align-self: center;
  position: absolute;
  width: 100%;
  bottom: -7%;
  z-index: -1;
}

#sun {
  position: absolute;
  height: 10%;
  right: 25.6%;
  top: 20%;
}

#tamuhacklogo {
  position: relative;
  align-self: center;
  top: 30%;
  /* bring your own prefixes */
  height: 7%;
}

#tower {
  position: absolute;
  height: 68%;
  bottom: 0;
  right: 0;
}

#cloud1 {
  position: fixed;
  height: 4%;
  left: 3%;
  top: 43.86%;
  animation: translateCloud1 30s linear infinite;
}

#cloud2 {
  position: fixed;
  height: 3%;
  left: 25%;
  top: 15%;
  animation: translateCloud2 10s linear infinite;
}

#cloud3 {
  position: fixed;
  height: 4%;
  left: 81%;
  top: 14%;
  animation: translateCloud3 10s linear infinite;
}

#cloud4 {
  position: absolute;
  height: 2.4%;
  left: 94%;
  top: 34%;
  animation: translateCloud4 10s linear infinite;
}

#navbar {
  display: flex;
  height: 7%;
  align-items: center;
  border: 0;
}

#navitems {
  display: flex;
  position: absolute;
  flex-direction: row;
  right: 0;
}

#navlogo {
  margin-left: 10%;
}

#help {
  margin-left: 20px;
}

@keyframes translateCloud1 {
  from {
    margin-left: -10%;
  }

  to {
    margin-left: 110%;
  }
}

@keyframes translateCloud2 {
  from {
    left: 110%;
  }

  to {
    left: -10%;
  }
}

@keyframes translateCloud3 {
}

@keyframes translateCloud4 {
  from {
    left: -10%;
  }

  to {
    left: 110%;
  }
}

@keyframes translateblimp {
  from {
    left: 110%;
  }

  to {
    left: -10%;
  }
}

@keyframes translateplane {
  0% {
    left: 25%;
    bottom: -10%;
  }

  25% {
    left: 37.5%;
    bottom: 20%;
    transform: scale(0.75);
  }

  50% {
    left: 50%;
    bottom: 50%;
    transform: scale(0.5);
  }

  75% {
    left: 62.5%;
    bottom: 80%;
    transform: scale(0.25);
  }

  100% {
    left: 75%;
    bottom: 110%;
    transform: scale(0);
  }
}


.communitytext{
  font-size: 45px;
  line-height: 15px;
  font-weight: 630;
  letter-spacing: 0.01em;
}

.connectinfo{
  font-size: 20px;
  line-height: 15px;
  min-width: 100px;
}

.smicon{
  font-size: 20px;
}

.footertab{
  display: flex; height: 100%; margin: 0px; align-items: center;
}

.linkedin {
  color: #999999;
}

.github {
  color: #999999;
}

#communitybox{
  display: flex;
  flex-direction: column;
  width: 40vw;
}

#emailinput{
  display: flex;
  box-sizing: border-box;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  width: 20vw;
  min-width: 150px;
  height: 40px;
  padding: 10px;
  text-decoration: none;
}

/*#emailinput:focus{
  outline: none;
}*/

#emailsubmit{
  background: #FF7C93;
  border-radius: 3px;
  color: white;
  width: 5.3vw;
  height: auto;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .5px;
}

#footer{
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0px;
  width: 90vw;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  padding-left: 70px;
  padding-right: 70px;
}
