
body{
	font-family: "Avenir Next" !important;
}

#swoosh{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 2;
}

#plane{
	position: absolute;
	width: 7%;
	animation: translateplane 5s linear infinite;
	z-index: -1;
}

#blimp{
	position: relative;
	left: 73.7%;
	top: 51.71%;
	width: 3%;
	animation: translateblimp 20s linear infinite;
}

#acadbuild{
	position: absolute;
	bottom: -3px;
	width: 60%;
	align-self: center;
	z-index: -1;
}

#sun{
	position: absolute;
	height: 10%;
	right: 25.6%;
	top: 20%;
}

#tamuhacklogo{
	position: relative;
	align-self: center;
	top: 30%;
  	/* bring your own prefixes */
  	height: 7%;
}

#tower{
	position: absolute;
	height: 68%;
	bottom: 0;
	right: 0;
}

#cloud1{
	position: fixed;
	height: 4%;
	left: 3%;
	top: 43.86%;
	animation: translateCloud1 30s linear infinite;*/
}

#cloud2{
	position: fixed;
	height: 3%;
	left: 25%;
	top: 15%;
	animation: translateCloud2 10s linear infinite;*/
}

#cloud3{
	position: fixed;
	height: 4%;
	left: 81%;
	top: 14%;
	animation: translateCloud3 10s linear infinite;*/
}

#cloud4{
	position: absolute;
	height: 2.4%;
	left: 94%;
	top: 34%;
	animation: translateCloud4 10s linear infinite;*/
}

#navbar{
	display: flex;
	height: 7%;
	align-items: center;
	border: 0;
}

#navitems{
	display: flex;
	position: absolute;
	flex-direction: row;
	right: 0;
	max-width:
}

#navlogo{
	margin-left: 10%;
}

#help{
	margin-left: 20px;
}



@keyframes translateCloud1 {
  from {
    margin-left: -10%;
  }

  to {
    margin-left: 110%;
  }
}

@keyframes translateCloud2 {
  from {
    left: 110%;
  }

  to {
    left: -10%;
  }
}

@keyframes translateCloud3 {

}

@keyframes translateCloud4 {
  from {
    left: -10%;
  }

  to {
    left: 110%;
  }
}

@keyframes translateblimp {
  from {
    left: 110%;
  }

  to {
    left: -10%;
  }
}

@keyframes translateplane {
  0%{
  	left: 25%;
    bottom: -10%;
  }

  25%{
  	left: 37.5%;
    bottom: 20%;
		transform: scale(.75);
  }

  50%{
		left: 50%;
    bottom: 50%;
		transform: scale(.5);
  }

  75%{
		left: 62.5%;
    bottom: 80%;
		transform: scale(.25);
  }

  100%{
  	left: 75%;
    bottom: 110%;
		transform: scale(0);
  }
}
