name: Node CI

on: [push]

jobs:
  check-compilation:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and compile
        run: |
          npm i
          npm run gcp-build
        env:
          CI: true
